%table.table.table-hover.sample-services
  - if sample.requested_service.count == 0
    %tr
      %td{:colspan => 3, :class => 'empty'}= "No tiene servicios"
  - sample.requested_service.each do |rs|
    %tr{:class => 'requested-service-link', 'data-id' => rs.id, 'data-sample-id' => rs.sample_id, :id => "requested-service-link-#{rs.id}"}
      %td.icon{:class => rs.status_class}
        %span.glyphicon{:class => rs.icon_class}
      %td.name= rs.laboratory_service.name
      %td.date= date_text(rs.created_at)
  - if request.request_type_id != ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO
    - if request.request_type_id == ServiceRequest::SERVICIO_VINCULACION 
      - if sample.service_request.system_status < ServiceRequest::SYSTEM_QUOTE_SENT 
        %tr.add-service
          %td.icon
            %span.glyphicon.glyphicon-plus-sign
          %td.name.add-service-link{'data-sample-id' => sample.id ,:colspan => 2}= "Agregar Servicio"
    - else 
      %tr.add-service
        %td.icon
          %span.glyphicon.glyphicon-plus-sign
        %td.name.add-service-link{'data-sample-id' => sample.id ,:colspan => 2}= "Agregar Servicio"