.title= "Servicios solicitados"
%ul
  - if sample.requested_service.count == 0
    %li.no-service
      .service-bullet= "-"
      .service-name= "Ninguno"
  - else
    - sample.requested_service.each do |rs|
      %li.requested_service{:sample_id => rs.sample_id, :requested_service_id => rs.id, :id => "requested_service_#{rs.id}", :title => rs.status_text}
        .service-bullet{:class => "status_#{rs.status}"}= "%02d" %  rs.consecutive
        .service-name= rs.laboratory_service.name
  %li#add-service
    .service-bullet.add= "+"
    .service-name= "Agregar servicio"
