#sample
  #sample-header
    .sample-n= "Muestra #{sample.consecutive} de #{sample.service_request.sample.count}"
    .btn-toolbar
      .btn-group
        %a.btn#add-new-sample-button
          %i.icon-file
        %a.btn#select-sample-sample-button
          %i.icon-list
  #sample-list
    = render :partial => 'samples/sample_list', :locals => {:request => sample.service_request, :current => sample }
  #current-sample
    .sample-details
      .sample-consecutive
        = sample.number
        - if sample.quantity > 1
          %strong= sample.quantity
          = " muestras"
      .sample-identificator
        = sample.identification
      .sample-description
        = sample.description
    #sample-services-header
      .nav-header= "Servicios solicitados"
    #sample-services
      = render :partial => 'samples/requested_services_list', :locals => {:sample => sample}
#sample-workarea
  #requested-service-workarea

- if sample.requested_service.count > 0
  :javascript
    $(function() {
      getRequestedService(#{sample.id}, #{sample.requested_service[0].id})
    });

