.sheet
  .header-status{:class => "bg-dialog"}
    %span.status= "Nueva muestra"
  .dialog-content.padded
    = form_for Sample.new, :remote => true, :html => {:'data-type' => 'html', :id => 'new-sample-form', :class => 'form-horizontal'} do |f|
      .dialog-title
        %h3= "Nueva muestra"
      .dialog-body
        = f.hidden_field :service_request_id, {:value => @request.id}
        .control-group#cg_Sample_identification
          = f.label :identification, 'Nombre de muestra(s):', {:class => 'control-label'}
          .controls
            = f.text_field :identification, {:class => 'form-control', :placeholder => 'Identificaci칩n de muestra'}
        .control-group#cg_Sample_description
          = f.label :description, 'Descripci칩n:', {:class => 'control-label'}
          .controls
            = f.text_area :description, {:class => 'form-control', :rows => 4, :placeholder => 'Descripci칩n de la muestra'}
        .control-group#cg_Sample_quantity
          = f.label :quantity, 'Cantidad:', {:class => 'control-label'}
          .controls
            = f.select :quantity, 1..200, {}, :class => 'form-control'
            %span.help-block= "Seleccionar mas de 1 si son muestras a las que se les har치 exactamente lo mismo" 
      .dialog-footer
        = button_tag "Agregar", {:class => "btn btn-primary", :type => "submit"}
      .clearfix
