%h1= @service_type.name
= form_for @service_type, :remote => true, :html => {:'data-type' => 'html', :id => 'edit-service-type-form'} do |f|
  .field#field_service_type_short_name
    = f.label :short_name, 'Nombre Corto:'
    = f.text_field :short_name, {:class => 'input-large', :placeholder => 'Nombre corto'}
  .field#field_service_type_name
    = f.label :name, 'Nombre:'
    = f.text_field :name, {:class => 'input-xxlarge', :placeholder => 'Nombre'}
 
      
  .submit-button
    = f.submit "Actualizar tipo", {:class => "btn btn-primary"}
