= form_for @service_type, :remote => true, :html => {:'data-type' => 'html', :id => 'new-service-type-form'} do |f|
  %h3= "Nuevo Tipo de Servicio"
  .field#field_service_type_short_name
    = f.label :short_name, 'Nombre Corto:'
    = f.text_field :short_name, {:class => 'input-large', :placeholder => 'Nombre corto'}
  .field#field_service_type_name
    = f.label :name, 'Nombre:'
    = f.text_field :name, {:class => 'input-xxlarge', :placeholder => 'Nombre'}
  .submit-button
    = f.submit "Agregar tipo", {:class => "btn btn-primary"}
