#materials-panel
  #materials-search-panel.search-box
    = form_tag 'xxx', :id => 'materials-live-search', :method => 'get', :remote => true do
      - lab_options = "<option value=\"0\">Todos los laboratorios</option>"
      - Laboratory.order('name').each do |lab|
        - lab_options += "<option value=\"#{lab.id}\">#{lab.name}</option>"
      = select_tag "search_laboratory_id", lab_options.html_safe
      = text_field_tag :q, nil, :id => 'materials-search-box', :placeholder => 'Busqueda'
  #materials-list.items-placeholder 
  #materials-buttons.bottom-box
    = button_tag "Agregar nuevo consumible", {:class => 'btn btn-info', :id => 'add-new-admin-materials-button'}
    

#materials-details

:javascript 
  $(function() {
    MaterialsLiveSearch()
  })