%h1= @substance.name

= form_for @substance, :remote => true, :html => {:'data-type' => 'html', :id => 'edit-substance-form'} do |f|
  - if current_user.is_admin? 
    .field#field_substance_laboratory_id
      = f.label :laboratory_id, 'Laboratorio:'
    - lab_options = ''
    - Laboratory.order('name').each do |lab|
      - if @substance.laboratory_id == lab.id
        - lab_options += "<option value=\"#{lab.id}\" selected=\"selected\">#{lab.name}</option>"
      - else
        - lab_options += "<option value=\"#{lab.id}\">#{lab.name}</option>"
    = f.select :laboratory_id, lab_options.html_safe, {}, {:class => 'form-control'}
  .field#field_substance_name
    = f.label :name, 'Nombre:'
    = f.text_field :name, {:class => 'form-control', :placeholder => 'Nombre'}
  .field#field_substance_description
    = f.label :description, 'Descripción:'
    = f.text_area :description, {:class => 'form-control', :rows => 10}
  .field#field_substance_expire_date
    = f.label :expire_date, 'Fecha de caducidad:'
    = f.date_field :expire_date, {:class => 'form-control'}
  .field#field_substance_name
    = f.label :quantity, 'Cantidad:'
    = f.text_field :quantity, {:class => 'form-control', :placeholder => 'Cantidad con unidades'}
  .field#field_substance_container
    = f.label :container, 'Contenedor:'
    = f.text_field :container, {:class => 'form-control', :placeholder => 'Nombre'}
  .field#field_substance_status
    = f.label :provider_id, 'Estado:'
    = f.select :status, Substance::STATUS_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0}, {}, :class => 'form-control'
      
  .submit-button
    = f.submit "Actualizar", {:class => "btn btn-primary"}
