- if request.vinculacion_end_date
  .vinculacion-end-date
    - days = (request.vinculacion_end_date - request.vinculacion_start_date).to_i
    - current_days = (request.vinculacion_end_date - Time.now.to_date).to_i
    - percentage = (days - current_days) * 100 / days
    - if current_days == 0
      - klass = 'progress-bar-danger pulsate_today'
      - faltan = "Debe entregarse hoy"
      - percentage_msg = "HOY"
    - elsif current_days < 0
      - klass = 'progress-bar-danger'
      - faltan = "Retraso de #{(current_days * -1)} días"
      - percentage_msg = "RETRASO"
    - elsif percentage > 80
      - klass = 'progress-bar-warning'
      - faltan = "Faltan #{current_days} días"
      - percentage_msg = "#{percentage}%"
    - else
      - klass = 'progress-bar-success'
      - faltan = "Faltan #{current_days} días"
      - percentage_msg = "#{percentage}%"
    %span.glyphicon.glyphicon-calendar
    = "Entregar:"
    = l request.vinculacion_end_date, format: :short
    .delivery
      %span.glyphicon.glyphicon-time
      = faltan
    .progress
      .progress-bar{'class' => klass,:role => 'progressbar', 'aria-valuenow' => percentage, 'aria-valuemin' => "0", 'aria-valuemax' => "100", :style => "width:#{percentage}%"}
        = "#{percentage_msg}"