#header-bar
  %h2 Carpetas
#folder-panel
  .search-box
    = form_tag '/search', :id => 'folder-live-search', :method => 'get', :remote => true do
      - status_options = "<option value=\"*\">Todos los estados</option>"
      - RequestType.order('name').each do |st| 
        - status_options += "<option value=\"#{st.id}\">#{st.name}</option>"
      = select_tag "folder_filter", status_options.html_safe
      = text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda'
  .items-placeholder

  .bottom-box
    .bottom-box-inner
      = button_tag "Crear nueva carpeta", {:id => 'add-new-folder-button', :class => 'btn btn-info btn-block', :title => 'Crear nueva carpeta'}
#folder-main-panel

- if !params[:r].blank?
  - requested_service = RequestedService.where(:number => params[:r]).first
  :javascript 
    $(document).ready(function() {
      $("#req-serv-search-box").val("#{params[:r]}");
      folderGo("#{requested_service.sample.service_request.number}","#{requested_service.sample.number}","#{requested_service.id}")
    })
- else
  :javascript 
    $(document).ready(function() {    
      foldersLiveSearch(); 
    });
