%table.table.table-hover
  - @requests.each do |r|
    %tr.service-request-item{:service_request_id => r.id, :id => r.number}
      %td.service-request-number
        %span.glyphicon.glyphicon-folder-close
        .number= r.number
      %td.service-request-data 
        .title
          = "#{r.request_link}" rescue "Sin tipo"
        .description= r.description
      %td.service-request-date
        = date_text(r.created_at)
      %td.type
        %span.request-type.label.label-default{:class => "label_#{r.request_type.short_name}"}= r.request_type.name
      %td.service-collaborators
        = image_tag (r.user.avatar_url), :class => 'img-circle folder-owner'
        - if r.supervisor
          = image_tag (r.supervisor.avatar_url), :class => 'img-circle folder-supervisor'
        - r.collaborators.each do |collaborator|
          = image_tag (collaborator.user.avatar_url), :class => 'img-circle folder-collaborator'

