.items
  - @requests.each do |r|
    - if current_user.id == r.supervisor_id || current_user.id == r.user.supervisor1_id || current_user.id == r.user.supervisor2_id
      - klass = 'service-supervised'
      - add_info = "Dueño: #{r.user.full_name rescue ''}"
    - else
      - klass = 'service-mine' 
      - add_info = ''
    - if r.request_type.prefix == 'S'
      - original_icon = 'icon-folder-close'
    - else
      - original_icon = 'icon-folder-close-alt'
    .service-request-item{:service_request_id => r.id, :class => klass, :id => r.number, "data-original-icon" => original_icon}
      .service-request-number
        %i.icon-4x{:class => original_icon}
        = r.number
      .service-request-link= "#{r.request_type.name} #{r.request_link}" rescue "Sin tipo"
      .service-request-description= r.description
      .service-request-add-info= add_info
.items-counter
  .items-counter-inner
    = "#{@requests.count} carpetas"
