%table.table
  - @requests.each do |r|
    %tr.service-request-item{:service_request_id => r.id, :id => r.number}
      %td.type{:class => "label_#{r.request_type.short_name}"}
        %div= r.request_type.name
      %td.service-request-number
        %span.glyphicon.glyphicon-folder-close
        .number= r.number
      %td.service-request-data 
        .title
          = "#{r.request_link}" rescue "Sin tipo"
        .description= r.description
        - if r.request_type_id == ServiceRequest::SERVICIO_VINCULACION || r.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO
          .cliente= r.vinculacion_client_name
      %td.service-request-date
        = date_text(r.created_at)
      %td.service-collaborators
        = image_tag (r.user.avatar_url), :class => 'img-circle folder-owner'
        - if r.supervisor
          = image_tag (r.supervisor.avatar_url), :class => 'img-circle folder-supervisor'
        - r.collaborators.each do |collaborator|
          = image_tag (collaborator.user.avatar_url), :class => 'img-circle folder-collaborator'

