%table.table-striped.table-hover
  - @requests.each do |r|
    - if current_user.id == r.supervisor_id || current_user.id == r.user.supervisor1_id || current_user.id == r.user.supervisor2_id
      - klass = 'service-supervised'
    - else
      - klass = 'service-mine' 
    %tr.service-request-item{:service_request_id => r.id, :class => klass, :id => r.number}
      %td.service-request-number
        %span.glyphicon.glyphicon-folder-close
        .number= r.number
      %td.service-request-data 
        .title
          = "#{r.request_link}" rescue "Sin tipo"
        .description= r.description
      %td.service-request-date
        = date_text(r.created_at)
      %td.type
        %span.request-type.label.label-default{:class => "label_#{r.request_type.short_name}"}= r.request_type.name
      %td.service-collaborators
        = image_tag (r.user.avatar_url), :class => 'img-circle folder-owner'
        - if r.supervisor
          = image_tag (r.supervisor.avatar_url), :class => 'img-circle folder-supervisor'
