%table.table.sr-table
  - @requests.each do |r|
    %tr.service-request-item{:service_request_id => r.id, :id => r.number, :class => "item_#{r.request_type.short_name}"}
      %td.service-request-number
        %span.glyphicon.glyphicon-folder-close
        .number= r.number
      %td.service-request-data
        .type{:class => "label_#{r.request_type.short_name}"}= r.request_type.name 
        .title
          = "#{r.request_link}" rescue "Sin tipo"
        .description= r.description
        - if r.request_type_id == ServiceRequest::SERVICIO_VINCULACION || r.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO || r.request_type_id == ServiceRequest::SERVICIO_VINCULACION_TIPO_2
          .client= r.vinculacion_client_name
      %td.service-request-date
        = date_text(r.created_at)
        = render :partial => 'vinculacion_dates', :locals => {:request => r}

      %td.service-collaborators
        .folder-owner-data
          = image_tag (r.user.avatar_url), :class => 'img-circle folder-owner'
          .folder-owner-name= r.user.full_name
        .folder-collaborators-data
          - if r.supervisor
            = image_tag (r.supervisor.avatar_url), :class => 'img-circle folder-supervisor'
          - r.collaborators.each do |collaborator|
            - if collaborator.user
              = image_tag (collaborator.user.avatar_url), :class => 'img-circle folder-collaborator'
            - else
              = "ERROR"
      %td.service-request-status
        - if r.system_status != ServiceRequest::SYSTEM_FREE
          .search-folder-status-message
            = r.system_status_text

