#new-request-area.inner-area
  %h1 Nueva carpeta
  = form_for @request, :remote => true, :html => {:'data-type' => 'html', :id => 'new-request-form'} do |f|
    .field#field_service_request_request_type_id
      = f.label :request_type_id, 'Tipo:'
      = f.collection_select :request_type_id, RequestType.order(:name), :id, :name, options = {:prompt => "Selecciona el tipo"} 
      = f.text_field :request_link
    .field#field_service_request_description
      = f.label :description, 'Descripción:'
      = f.text_area :description
    .field#field_service_supervisor
      - supervisor_options = ''
      - if current_user.supervisor1_id.blank? && current_user.supervisor2_id.blank?
        - supervisor_options += "<option value=\"0\">Ninguno</option>"
      - User.where("access >= :a", {:a => User::ACCESS_EMPLOYEE}).order('first_name, last_name').each do |u|
        - if current_user.supervisor1_id == u.id
          - selected = 'selected = "selected"'
        - else
          - selected = ''
        - supervisor_options += "<option value=\"#{u.id}\" #{selected}>#{u.full_name}</option>"
      = f.label :supervisor_id, 'Supervisor:'
      = f.select :supervisor_id, supervisor_options.html_safe
    #new-request-button-area
      = f.submit "Crear nuevo servicio"
