#folder-type{:class => "bg_#{@request.request_type.short_name}"}
  %h2= @request.request_type.name
#folder-info
  .folder-icon
    %span.glyphicon.glyphicon-folder-close
    .folder-number= @request.number
  .folder-data
    .title
      - if @request.vinculacion_client_name
        .client-name= @request.vinculacion_client_name
      = "#{@request.request_link}" rescue "Sin tipo"
    .description= @request.description
  .cotizacion
    - if @request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO || (@request.request_type_id == ServiceRequest::SERVICIO_VINCULACION && @request.system_status >= ServiceRequest::SYSTEM_ACCEPTED) || (@request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_TIPO_2 && @request.system_status >= ServiceRequest::SYSTEM_ACCEPTED) || (@request.request_type_id == ServiceRequest::PROYECTO_VINCULACION && @request.system_status >= ServiceRequest::SYSTEM_ACCEPTED)
      .archivo
        %a{:href => "http://sigre.cimav.edu.mx/vinculacion/descargar/cotizacion/#{@request.vinculacion_hash}"}
          %span.glyphicon.glyphicon-file
          = "Descargar cotización"
  %br
  %br
  = render :partial => 'vinculacion_contact', :locals => {:request => @request}
  %br
  %br
  = render :partial => 'vinculacion_dates', :locals => {:request => @request}

  #folder-actions
    = render :partial => 'actions', :locals => {:request => @request}
  #collaborator-panel


#folder-workarea
  #folder-work-panel-wrapper-project-quote
    .header
      %h2= "Costeo de proyecto"
    %ul#nav-quotes.nav.nav-pills{:role => "tablist"}
      - q_active = "active"
      - @request.project_quotes.each do |quote| 
        %li{:role => "presentation", :class => q_active}
          - code = quote.number.gsub("#{@request.number}-","")
          %a{:href => "#", "aria-controls" => code, :role => "tab", "data-toggle" => "tab"}= code
        - q_active = ""

    #quote-area
      .tab-content
        - q_active = "active"
        - @request.project_quotes.each do |quote| 
          - code = quote.number.gsub("#{@request.number}-","")
          .tab-pane{:role => "tabpanel", :id => code, :class => q_active}
            .pq_technicians{:id => "pq#{quote.id}_technicians"} 
              = render :partial => 'project_quotes/technicians', :locals => {:project_quote => quote }
            
            .pq_equipment{:id => "pq#{quote.id}_equipment"} 
              = render :partial => 'project_quotes/equipment', :locals => {:request => quote }

            .pq_others{:id => "pq#{quote.id}_others"} 
              = render :partial => 'project_quotes/others', :locals => {:request => quote }
            #send-project-quote-button
              %button.btn.btn-primary= "Enviar costeo de proyecto"
          - q_active = false


            


