#folder-type{:class => "bg_#{@request.request_type.short_name}"}
  %h2= @request.request_type.name
#folder-info
  .folder-icon
    %span.glyphicon.glyphicon-folder-close
    .folder-number= @request.number
  .folder-data
    .title
      - if @request.vinculacion_client_name
        .client-name= @request.vinculacion_client_name
      = "#{@request.request_link}" rescue "Sin tipo"
    .description= @request.description
  .cotizacion
    - if @request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO || (@request.request_type_id == ServiceRequest::SERVICIO_VINCULACION && @request.system_status >= ServiceRequest::SYSTEM_ACCEPTED) || (@request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_TIPO_2 && @request.system_status >= ServiceRequest::SYSTEM_ACCEPTED) || (@request.request_type_id == ServiceRequest::PROYECTO_VINCULACION && @request.system_status >= ServiceRequest::SYSTEM_ACCEPTED)
      .archivo
        %a{:href => "http://sigre.cimav.edu.mx/vinculacion/descargar/cotizacion/#{@request.vinculacion_hash}"}
          %span.glyphicon.glyphicon-file
          = "Descargar cotizaci칩n"
  %br
  %br
  = render :partial => 'vinculacion_contact', :locals => {:request => @request}
  %br
  %br
  = render :partial => 'vinculacion_dates', :locals => {:request => @request}

  #folder-actions
    = render :partial => 'actions', :locals => {:request => @request}
  #collaborator-panel


#folder-workarea
  #folder-work-panel-wrapper-project-quote
    .header
      %h2= "Costeo de proyecto"
    %ul#nav-quotes.nav.nav-pills{:role => "tablist"}
      - q_active = "active"
      - @request.project_quotes.each do |quote| 
        %li{:role => "presentation", :class => q_active}
          - code = quote.number.gsub("#{@request.number}-","")
          %a{:href => "#", "aria-controls" => code, :role => "tab", "data-toggle" => "tab"}= code
        - q_active = ""

    #quote-area
      .tab-content
        .row
          .col-md-8
            - q_active = "active"
            - @request.project_quotes.each do |quote| 
              - code = quote.number.gsub("#{@request.number}-","")
              .tab-pane{:role => "tabpanel", :id => code, :class => q_active}
                - q_active = ""
                .panel-group{:id => "accordion-pq-#{quote.id}", :role => "tablist", "aria-multiselectable" => "true"}
                  // Personal
                  .panel.panel-default
                    .panel-heading{:role => "tab",  :id => "heading-pq-tech-#{quote.id}"}
                      %h4.panel-title
                        %a{:role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion-pq-#{quote.id}", :href => "#collapse-pq-tech-#{quote.id}", "aria-expanded" => "true", "aria-controls" => "collapse-pq-tech-#{quote.id}"}= "Personal Involucrado"
                  .panel-collapse{:id => "collapse-pq-tech-#{quote.id}", :class => "collapse in", :role => "tabpanel", "aria-labelledby" => "headingOne"}
                    .panel-body
                      .pq_technicians{:id => "pq#{quote.id}_technicians"} 
                        = render :partial => 'project_quotes/technicians', :locals => {:project_quote => quote }

                  // Equipos
                  .panel.panel-default
                    .panel-heading{:role => "tab",  :id => "heading-pq-eq-#{quote.id}"}
                      %h4.panel-title
                        %a{:role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion-pq-#{quote.id}", :href => "#collapse-pq-eq-#{quote.id}", "aria-expanded" => "true", "aria-controls" => "collapse-pq-eq-#{quote.id}"}= "Equipos"
                  .panel-collapse{:id => "collapse-pq-eq-#{quote.id}", :class => "collapse in", :role => "tabpanel", "aria-labelledby" => "headingOne"}
                    .panel-body
                      .pq_equipment{:id => "pq#{quote.id}_equipment"} 
                        = render :partial => 'project_quotes/equipment', :locals => {:project_quote => quote }

                  // Otros
                  .panel.panel-default
                    .panel-heading{:role => "tab",  :id => "heading-pq-other-#{quote.id}"}
                      %h4.panel-title
                        %a{:role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion-pq-#{quote.id}", :href => "#collapse-pq-other-#{quote.id}", "aria-expanded" => "true", "aria-controls" => "collapse-pq-other-#{quote.id}"}= "Otros: Consumibles, Vi치ticos, Subcontrataciones, etc."
                  .panel-collapse{:id => "collapse-pq-other-#{quote.id}", :class => "collapse in", :role => "tabpanel", "aria-labelledby" => "headingOne"}
                    .panel-body
                      .pq_others{:id => "pq#{quote.id}_others"} 
                        = render :partial => 'project_quotes/others', :locals => {:project_quote => quote }

                
              - q_active = false
          .col-md-4
            .quote-totals-area
              %table.quote-totals.table.table-striped
                %tr
                  %th{:colspan => 2}= "Costeo"
                %tr
                  %td.quote-desc= "Personal Involucrado"
                  %td.quote-cost#tech_total= "0"
                %tr
                  %td.quote-desc= "Equipos"
                  %td.quote-cost#eq_total= "0"
                %tr
                  %td.quote-desc= "Otros"
                  %td.quote-cost#other_total= "0"
                %tr
                  %td.quote-total-desc= "Total"
                  %td.quote-total#pq_total= "#{@grand_total}"

              #send-project-quote-area
                %button.btn.btn-primary.btn-success{:id => "send-project-quote-button", "data-id" => @request.id}
                  %span.glyphicon.glyphicon-send
                  = " &nbsp;Solicitar autorizaci칩n por ".html_safe
                  %br
                  = "Jefe de Departamento"
                .send-project-quote-note
                  = "Se enviar치 correo a <br>#{@request.user.department.user.full_name}<br>para autorizar el costeo".html_safe


            


