#folder-type{:class => "bg_#{@request.request_type.short_name}"}
  %h2= @request.request_type.name
#folder-info
  .folder-icon
    %span.glyphicon.glyphicon-folder-close
    .folder-number= @request.number
  .folder-data
    .title
      - if @request.vinculacion_client_name
        .client-name= @request.vinculacion_client_name
      = "#{@request.request_link}" rescue "Sin tipo"
    .description= @request.description
  = render :partial => 'vinculacion_contact', :locals => {:request => @request}
  = render :partial => 'vinculacion_dates', :locals => {:request => @request}

  #folder-actions
    = render :partial => 'actions', :locals => {:request => @request}
  #collaborators.folder-collaborators
    = render :partial => 'collaborators', :locals => {:request => @request}
  #collaborator-panel


#folder-workarea
  #folder-samples
    .header
      %h2 MUESTRAS
      .actions
        - if (@request.request_type_id == ServiceRequest::SERVICIO_VINCULACION && @request.number.to_s[0] == 'S') ||
        -    (@request.request_type_id != ServiceRequest::SERVICIO_VINCULACION &&
        -    @request.request_type_id != ServiceRequest::SERVICIO_VINCULACION_TIPO_2 &&
        -    @request.request_type_id != ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO)
        
          %button#add-new-sample-button.btn.btn-success.btn-xs{'data-id' => @request.id}
            %span.glyphicon.glyphicon-plus
    - if @request.sample.count <= 0 
      .no-samples 
        = "La carpeta no tiene muestras"
    - first = true
    .sample-items
      - @request.sample.each do |s|
        - if first 
          - is_opened = "opened"
          - first = false
        - else
          - is_opened = ""

        .sample-item{'id' => "sample-item-#{s.id}", "class" => is_opened}
          .sample-header{'data-sample-id' => s.id}
            .indicator
              %span.sample-closed.glyphicon.glyphicon-chevron-right
              %span.sample-open.glyphicon.glyphicon-chevron-down
            .identification{'data-sample-id' => s.id}= s.identification
            .quantity
              %span= "CANTIDAD"
              = s.quantity
            - if (@request.request_type_id != ServiceRequest::SERVICIO_VINCULACION &&
            -    @request.request_type_id != ServiceRequest::SERVICIO_VINCULACION_TIPO_2 &&
            -    @request.request_type_id != ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO)
              .edit-sample
                .btn.btn-xs.btn-info.edit-sample-btn{'data-sample-id' => s.id}
                  %span.glyphicon.glyphicon-edit
          .clearfix
          .sample-contents{'id' => "sample-contents-#{s.id}"}
            .description= s.description
            .sample-ids{'id' => "sample-ids-#{s.id}"}
              .list-header{'data-sample-id' => s.id}
                %span.ids-closed.glyphicon.glyphicon-chevron-right
                %span.ids-open.glyphicon.glyphicon-chevron-down
                = "CANTIDAD DE MUESTRAS: #{s.quantity}"
              .sample-ids-list
                %table.table.table-striped
                  %thead
                    %tr
                      %th= "ID"
                      %th= "IDENTIFICACIÓN"
                  %tbody
                    - s.sample_details.each do |sd|
                      %tr
                        %td.consecutive= sd.consecutive
                        %td.client-id
                          = sd.client_identification
                          - if sd.notes != ''
                            .notes= sd.notes
            = render :partial => 'samples/requested_services_list', :locals => {:sample => s, :request => @request, :lab_view => false}

  #folder-work-panel-wrapper
    #folder-work-panel

- if !params[:s].blank?
  :javascript
    el = "#requested-service-link-#{params[:s]}"
    $(function() {
      $(el).click();
    });
- else
  :javascript
    $(function() {
      $('.requested-service-link').first().click();
    });

