#service-request-header
  .number= @request.number
  .description
    .service-link= "#{@request.request_type.name} #{@request.request_link}"
    = simple_format(@request.description)
  .clearfix
#request-workarea
:javascript
  $(function() {
    getSample(#{@request.id},  #{@request.sample[0].id})
  })
