#service-request-header
  .number= "%04d" % [@request.id]
  .description
    .service-link= "#{@request.request_type.name} #{@request.request_link}"
    = simple_format(@request.description)
  .clearfix
#request-workarea
  = render :partial => 'sample', :locals => {:request => @request, :sample => @request.sample[0] }
