#service-request-header
  .number= @request.number
  .description
    .service-link= "#{@request.request_type.name} #{@request.request_link}"
    = simple_format(@request.description)
  .clearfix
#request-workarea
- if @request.sample.count == 0
  #no-samples
    = 'La carpeta aún no tiene muestras.'
    %a{:id => 'add-new-sample-link'}= '¿Deseas agregar una?'
- else
  :javascript
    $(function() {
      getSample(#{@request.sample[0].id})
    })
