- totals = []
- global_total = 0

- @details['servicios'].each do |s|
  
  - totals[s['bitacora_id']] = {}
  - totals[s['bitacora_id']]['total'] = 0
  
  - ['personal', 'equipos', 'otros'].each do |r|
    - totals[s['bitacora_id']][r] = 0
  
    - s[r].each do |i|
      - totals[s['bitacora_id']][r] += i['cantidad'] * i['precio_unitario']
      - totals[s['bitacora_id']]['total'] += totals[s['bitacora_id']][r] 
  
  - global_total += totals[s['bitacora_id']]['total']

= form_tag "/service_requests/#{@request.id}/send_report", :id => 'send-report-form', :method => 'post', :remote => true do
  .sheet
    #costeo-vista
      %h2
        = "T2: Reporte del servicio #{@details['codigo']}"

      %h3= "Participación"
      %table.table.table-bordered
        %thead
          %tr
            %th Participante
            %th Participación
        %tbody
          - @participants.each do |p|
            %tr
              %td= p.full_name
              %td= number_field_tag "user[#{p.id}]", nil, {:class => 'form-control'}
      
      %h3
        = "Costeo final" 
        %span.total= number_to_currency(global_total)
      - rheader = {'personal' => ['Nombre', 'Horas', 'Costo x Hora'], 'equipos' => ['Equipo', 'Horas', 'Costo x Hora'], 'otros' => ['Concepto', 'Cantidad', 'Precio']}

      - @details['servicios'].each do |s|
        %h4
          = "#{s['muestra_identificador']}: #{s['nombre_servicio']}"
          %span.total= number_to_currency(totals[s['bitacora_id']]['total'])
        %table.table.table-bordered
          - ['personal', 'equipos', 'otros'].each do |r|
            - if s[r].count > 0
              %tr
                %th.rubro-header{:colspan=>4}
                  = r
                  %span.total= number_to_currency(totals[s['bitacora_id']][r])
              %tr
                %th=rheader[r][0]
                %th=rheader[r][1]
                %th=rheader[r][2]
                %th="Subtotal"
              - s[r].each do |i|
                - subtotal = i['cantidad'] * i['precio_unitario']
                %tr
                  %td=i['detalle']
                  %td.text-right=i['cantidad']
                  %td.text-right=number_to_currency(i['precio_unitario'])
                  %td.text-right=number_to_currency(subtotal)      
      .actions
        %button#send-report-tipo-2-to-vinculacion.btn.btn-primary.btn-lg{'data-id' => @request.id}= "Enviar reporte"
