= form_for @request_type, :remote => true, :html => {:'data-type' => 'html', :id => 'new-request-type-form'} do |f|
  %h3= "Nuevo Tipo de Petición"
  .field#field_request_short_name
    = f.label :short_name, 'Nombre Corto:'
    = f.text_field :short_name, {:class => 'form-control', :placeholder => 'Nombre corto'}
  .field#field_request_type_name
    = f.label :name, 'Nombre:'
    = f.text_field :name, {:class => 'form-control', :placeholder => 'Nombre'}
  .submit-button
    = f.submit "Agregar tipo", {:class => "btn btn-primary"}