= form_for @equipment, :remote => true, :html => {:'data-type' => 'html', :id => 'new-equipment-form'} do |f|
  %h3= "Nuevo Equipo de Laboratorio"
  .field#field_equipment_laboratory_id
    = f.label :laboratory_id, 'Laboratorio:'
  - lab_options = ''
  - Laboratory.order('name').each do |lab|
    - lab_options += "<option value=\"#{lab.id}\">#{lab.name}</option>"
  = f.select :laboratory_id, lab_options.html_safe

  .field#field_equipment_name
    = f.label :name, 'Nombre:'
    = f.text_field :name, {:class => 'input-xxlarge', :placeholder => 'Nombre del equipo'}
  .field#field_equipment_description
    = f.label :description, 'Descripción:'
    = f.text_area :description, {:class => 'input-xxlarge', :rows => 10}
  .field#field_equipment_hourly_cost
    = f.label :hourly_rate, 'Costo por hora:'
    = f.text_field :hourly_rate, {:class => 'input-large'}
  .submit-button
    = f.submit "Agregar equipo", {:class => "btn btn-primary"}