%h1= @laboratory.name
= form_for @laboratory, :remote => true, :html => {:'data-type' => 'html', :id => 'edit-laboratory-form'} do |f|
  .field#field_laboratory_name
    = f.label :name, 'Nombre:'
    = f.text_field :name, {:class => 'form-control', :placeholder => 'Nombre del laboratorio'}
  .field#field_laboratory_prefix
    = f.label :prefix, 'Prefijo:'
    = f.text_field :prefix, {:class => 'form-control', :placeholder => '3 o 4 letras'}
  .field#field_laboratory_description
    = f.label :description, 'Descripción:'
    = f.text_area :description, {:class => 'form-control', :rows => 8}
  .field#field_laboratory_business_unit_id
    = f.label :business_unit_id, 'Sede:'
    - bu_options = ''
    - BusinessUnit.order(:name).each do |item|
      - if item.id == @laboratory.business_unit_id
        - sel = 'selected = "selected"'
      - else
        - sel = ''
      - bu_options += "<option value=\"#{item.id}\" #{sel}>#{item.name}</option>"
    = f.select :business_unit_id, bu_options.html_safe, {}, {:class => 'form-control'}
  .field#field_laboratory_user_id
    = f.label :user_id, 'Responsable:'
    - resp_options = ''
    - LaboratoryMember.where("laboratory_id = :lab AND access <> :a", {:lab => @laboratory.id, :a => LaboratoryMember::ACCESS_TRAINED}).each do |item|
      - if item.user.id == @laboratory.user_id
        - sel = 'selected = "selected"'
      - else
        - sel = ''
      - resp_options += "<option value=\"#{item.user.id}\" #{sel}>#{item.user.full_name}</option>"
    = f.select :user_id, resp_options.html_safe, {}, {:class => 'form-control'}
      
  .submit-button
    = f.submit "Actualizar laboratorio", {:class => "btn btn-primary"}