#technicians
  = render :partial => 'technicians', :locals => {:requested_service => @requested_service }

#equipment
  = render :partial => 'equipment', :locals => {:requested_service => @requested_service }

#materials
  = render :partial => 'materials', :locals => {:requested_service => @requested_service }

#others
  = render :partial => 'others', :locals => {:requested_service => @requested_service }

#grand_total
  = "Total: #{number_to_currency(@grand_total)}"