- lab_access = @requested_service.laboratory_service.laboratory.laboratory_members.where(:user_id => current_user.id).first.access rescue 0
- im_lab_admin = lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
- im_service_tech = @requested_service.user_id == current_user.id
- im_requestor = @requested_service.sample.service_request.user_id == current_user.id
- show_table = true
- editable = false
- if @requested_service.status.to_i == RequestedService::CANCELED || @requested_service.status.to_i == RequestedService::FINISHED
  - editable = false
  - show_table = true

- if @requested_service.status.to_i == RequestedService::ASSIGNED || @requested_service.status.to_i == RequestedService::SUSPENDED || @requested_service.status.to_i == RequestedService::REINIT || @requested_service.status.to_i == RequestedService::IN_PROGRESS
  - editable = true
  - show_table = true


- if show_table
  %table.table.table-striped
    %thead
      %tr
        %th{:colspan => 4, :class => "th-header"}= "Equipos"
      - if @requested_service.requested_service_equipments.count > 0
        %tr
          %th= "Nombre"
          %th= "Horas"
          %th= "Costo x Hora"
          %th= "Subtotal"
    %tbody
      - eq_total = 0
      - eqs = []
      - if @requested_service.requested_service_equipments.count == 0
        %tr.empty-cost
          %td{:colspan => 4}= "Sin equipos"
      - @requested_service.requested_service_equipments.each do |eq|
        - eq_cost = eq.hours * eq.hourly_rate
        - eq_total = eq_total + eq_cost  
        - eqs << eq.equipment_id
        %tr.equipment-row{'data-id' => eq.id, :id => "equipment_row_#{eq.id}"}
          %td
            = eq.equipment.name
            - if !eq.details.blank?
              .eq-details= eq.details
            = link_to '×', {:controller => 'requested_services', :action => 'delete_eq', :eq_id => eq.id}, :method => :post, :remote => true, :class => 'close', :'data-type' => 'html', 'data-id' => eq.id
          %td
            - if editable
              - u_options = ''
              - for i in 0.step(100, 0.5)
                - if eq.hours == i
                  - u_options += "<option value=\"#{i}\" selected=\"selected\">#{i} horas</option>"
                - else 
                  - u_options += "<option value=\"#{i}\">#{i} horas</option>"
              = select_tag "eq_hours_#{eq.id}", u_options.html_safe, {:style => "width: 100%;", "data-id" => eq.id, :class => "eq_hours"}
            - else
              .align-right= "#{eq.hours} horas" 
          %td
            .align-right= number_to_currency(eq.hourly_rate)
          %td
            .align-right= number_to_currency(eq_cost)
      - if @requested_service.requested_service_equipments.count > 0
        %tr.total-row
          %td{:colspan => 3}
            .align-right= "Subtotal Equipo"
          %td
            .align-right= number_to_currency(eq_total)
      - if editable
        - if eqs.count > 0
          - with_eq = " AND id NOT IN (#{(eqs.join(','))})"
        - else 
          - with_eq = ""
        - equipments = Equipment.where("laboratory_id = #{@requested_service.laboratory_service.laboratory_id} #{with_eq}")
        - u_options = ''
        - equipments.each do |e|
          - u_options += "<option value=\"#{e.id}\">#{e.name}</option>"
      - if u_options != '' && editable
        %tr.add-row
          %td
            = select_tag :new_eq_id, u_options.html_safe, {:style => "width: 100%;"}
          %td
            - u_options = ''
            - for i in 0.step(100, 0.5)
              - u_options += "<option value=\"#{i}\">#{i} horas</option>"
            = select_tag :new_eq_hours, u_options.html_safe, {:style => "width: 100%;"}
          %td{:colspan => 2}
            %button.btn.btn-mini.btn-info#add-equipment= "Agregar equipo"

