- lab_access = @requested_service.laboratory_service.laboratory.laboratory_members.where(:user_id => current_user.id).first.access rescue 0
- im_lab_admin = lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
- im_service_tech = @requested_service.user_id == current_user.id
- im_requestor = @requested_service.sample.service_request.user_id == current_user.id
- show_table = true
- editable = false
- if @requested_service.status.to_i == RequestedService::CANCELED || @requested_service.status.to_i == RequestedService::FINISHED
  - editable = false
  - show_table = true

- if @requested_service.status.to_i == RequestedService::ASSIGNED || @requested_service.status.to_i == RequestedService::SUSPENDED || @requested_service.status.to_i == RequestedService::REINIT || @requested_service.status.to_i == RequestedService::IN_PROGRESS
  - editable = true
  - show_table = true


- if show_table
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{:colspan => 4, :class => "th-header"}= "Consumibles"
      - if @requested_service.requested_service_materials.count > 0
        %tr
          %th= "Nombre"
          %th= "Cantidad"
          %th= "Precio Unitario"
          %th= "Subtotal"
    %tbody
      - mat_total = 0
      - mats = []

      - if @requested_service.requested_service_materials.count == 0
        %tr.empty-cost
          %td{:colspan => 4}= "Sin consumibles"
      - @requested_service.requested_service_materials.each do |mat|
        - mat_cost = mat.quantity * mat.unit_price
        - mat_total = mat_total + mat_cost  
        - mats << mat.material_id
        %tr.material-row{'data-id' => mat.id, :id => "material_row_#{mat.id}"}
          %td
            = mat.material.name
            = "(#{mat.material.unit.short_name})"
            - if !mat.details.blank?
              .mat-details= mat.details
            = link_to '×', {:controller => 'requested_services', :action => 'delete_mat', :mat_id => mat.id}, :method => :post, :remote => true, :class => 'close', :'data-type' => 'html', 'data-id' => mat.id
          %td
            - if editable
              = text_field_tag "quantity_#{mat.id}", mat.quantity, {:class => "mat_qty", "data-id" => mat.id}
            - else
              .align-right= "#{mat.quantity} #{mat.material.unit.short_name}" 
          %td
            .align-right= number_to_currency(mat.unit_price)
          %td
            .align-right= number_to_currency(mat_cost)
      - if @requested_service.requested_service_materials.count > 0
        %tr.total-row
          %td{:colspan => 3}
            .align-right= "Subtotal Materiales"
          %td
            .align-right= number_to_currency(mat_total)
      - if editable
        - if mats.count > 0
          - materials = Material.where("id NOT IN (#{(mats.join(','))})").order('name')
        - else 
          - materials = Material.order('name')
        - u_options = ''
        - materials.each do |m|
          - u_options += "<option value=\"#{m.id}\">#{m.name} (#{m.unit.short_name})</option>"
      - if u_options != '' && editable
        %tr.add-row
          %td
            = select_tag :new_mat_id, u_options.html_safe, {:style => "width: 100%;"}
          %td
            = text_field_tag 'new_mat_qty'
          %td{:colspan => 2}
            %button.btn.btn-mini.btn-info#add-material= "Agregar consumible"
