- lab_access = @requested_service.laboratory_service.laboratory.laboratory_members.where(:user_id => current_user.id).first.access rescue 0
- im_lab_admin = lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
- im_service_tech = @requested_service.user_id == current_user.id
- im_requestor = @requested_service.sample.service_request.user_id == current_user.id
- show_table = true
- editable = false

- if @requested_service.status.to_i == RequestedService::CANCELED || @requested_service.status.to_i == RequestedService::FINISHED
  - editable = false
  - show_table = true
- elsif @requested_service.sample.service_request.request_type_id.to_i == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO
- elsif @requested_service.sample.service_request.request_type_id.to_i == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO || @requested_service.sample.service_request.request_type_id.to_i == ServiceRequest::SERVICIO_VINCULACION_TIPO_2
  - editable = false
  - show_table = true 
- elsif @requested_service.sample.service_request.request_type_id.to_i == ServiceRequest::SERVICIO_VINCULACION
  - editable = @requested_service.status.to_i == RequestedService::TO_QUOTE
  - show_table = true 
- elsif @requested_service.status.to_i == RequestedService::ASSIGNED || @requested_service.status.to_i == RequestedService::SUSPENDED || @requested_service.status.to_i == RequestedService::REINIT || @requested_service.status.to_i == RequestedService::IN_PROGRESS || @requested_service.status.to_i == RequestedService::TO_QUOTE
  - editable = true
  - show_table = true

- if !(im_lab_admin || im_service_tech)
  - editable = false

- if show_table
  %table.table.table-striped
    %thead
      %tr
        %th{:colspan => 5, :class => "th-header"}= "Otros conceptos"
      - if @requested_service.requested_service_others.count > 0
        %tr
          %th= "Tipo"
          %th= "Concepto"
          %th{:colspan => 2}= "Precio"
          %th
    %tbody
      - other_total = 0

      - if @requested_service.requested_service_others.count == 0
        %tr.empty-cost
          %td{:colspan => 5}= "Sin otros conceptos"
      - @requested_service.requested_service_others.each do |other|
        - other_total = other_total + other.price
        %tr.other-row{'data-id' => other.id, :id => "other_row_#{other.id}"}
          %td
            = other.other_type.name
          %td
            = other.concept
            - if !other.details.blank?
              .other-details= other.details
          %td{:colspan => 2}
            - if editable
              = text_field_tag "price_#{other.id}", other.price, {:class => "other_price form-control input-sm", "data-id" => other.id}
            - else
              .align-right= number_to_currency(other.price) 
          %td
            - if editable
              = link_to '×', {:controller => 'requested_services', :action => 'delete_other', :other_id => other.id}, :method => :post, :remote => true, :class => 'close', :'data-type' => 'html', 'data-id' => other.id
      - if @requested_service.requested_service_others.count > 0
        %tr.total-row
          %td{:colspan => 3}
            .align-right= "Subtotal otros conceptos"
          %td
            .align-right= number_to_currency(other_total)
          %td
      - if editable
        - u_options = ''
        - OtherType.order('name').each do |o|
          - u_options += "<option value=\"#{o.id}\">#{o.name}</option>"
      - if u_options != '' && editable
        %tr.add-row
          %td
            = select_tag :new_other_type, u_options.html_safe, {:class => 'form-control input-sm'}
          %td
            = text_field_tag 'new_other_concept', nil,  { :placeholder => "Concepto…", :class => 'form-control input-sm' }
          %td
            = text_field_tag 'new_other_price', nil, { :placeholder => "Precio…", :class => 'form-control input-sm' }
          %td{:colspan => 2}
            %button.btn.btn-primary.btn-sm.btn-block#add-other= "Agregar"
