.inner-area
  %h1= "Asignar servicio #{@requested_service.number}"
  = form_for @requested_service, :remote => true, :html => {:'data-type' => 'html', :id => 'assign-sample-form'} do |f|
    = f.hidden_field :status, {:value => RequestedService::ASSIGNED}
    #field_service_request_sample_description
      = label_tag 'activity_log_msg', 'Notas:'
      = text_area_tag 'activity_log_msg'
    .clearfix
    #dialog-submit-button-area
      = f.submit "Asignar servicio"

