.sheet
  .header-status{:class => "bg-status-finished"}
    %span.status= "Finalizar servicio"
    %a.close{:class => 'requested-service-link', 'data-id' => @requested_service.id, 'data-sample-id' => @requested_service.sample_id}="×"
  .dialog-content.padded
    = form_for @requested_service, :remote => true, :html => {:'data-type' => 'html', :id => 'status-form'} do |f|
      .dialog-title
        %h3= "Finalizar servicio"
      .dialog-body
        = f.hidden_field :status, {:value => RequestedService::FINISHED}
        .notes.field
          = label_tag 'activity_log_msg', 'Notas:'
          = text_area_tag 'activity_log_msg', '', {:class => 'form-control'}
      .dialog-footer
        .send-mail-footer
          = hidden_field_tag 'send_mail', 'yes'
          = label_tag 'send_mail', '√ Enviar por correo.', {:style => 'margin-left: 4px; float: left;'}
        = button_tag "Finalizar", {:class => "btn btn-primary", :type => "submit"}
      .clearfix
