#header-bar
  .lab-name= @requested_service.laboratory_service.laboratory.name
  .service-number
    %span.glyphicon.glyphicon-file
    = @requested_service.number
#lab-work-panel
  #rs-info
    - if @requested_service.sample.service_request.system_status != ServiceRequest::SYSTEM_FREE
      #folder-status-message
        = @requested_service.sample.service_request.system_status_text
      .clearfix
    .folder
      %h3 Carpeta
      .folder-icon 
        %span.glyphicon.glyphicon-folder-close
      .folder-data
        %span.request-type.label.label-default{:class => "label_#{@requested_service.sample.service_request.request_type.short_name}"}= @requested_service.sample.service_request.request_type.name
        %h4= @requested_service.sample.service_request.request_link
        %p= @requested_service.sample.service_request.description
        .folder-collaborators
          = image_tag (@requested_service.sample.service_request.user.avatar_url), :class => 'img-circle folder-owner'
          - if @requested_service.sample.service_request.supervisor
            = image_tag (@requested_service.sample.service_request.supervisor.avatar_url), :class => 'img-circle folder-supervisor'
      .clearfix
    
    - if @requested_service.sample.service_request.is_vinculacion?
      
      .client
        %h3= "Cliente"
        %h4= @requested_service.sample.service_request.vinculacion_client_name
        .contact
          = render :partial => 'service_requests/vinculacion_contact', :locals => {:request => @requested_service.sample.service_request}
        .clearfix

      .cotizacion
        - if @requested_service.sample.service_request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO || (@requested_service.sample.service_request.request_type_id == ServiceRequest::SERVICIO_VINCULACION && @requested_service.sample.service_request.system_status > SYSTEM_ACCEPTED) || (@requested_service.sample.service_request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_TIPO_2 && @requested_service.sample.service_request.system_status > SYSTEM_ACCEPTED)
        
          %h3= "Cotizacion"
          .archivo
            %a{:href => "http://yoshimi.cimav.edu.mx:3001/vinculacion/descargar/cotizacion/#{@requested_service.sample.service_request.vinculacion_hash}"}
              %span.glyphicon.glyphicon-file
              = "Descargar cotización"

              
      .dates
        %h3= "Fechas"
        = render :partial => 'service_requests/vinculacion_dates', :locals => {:request => @requested_service.sample.service_request}
        .clearfix

    .sample 
      %h3 Muestra
      .sample-icon 
        %span.label.label-info= @requested_service.sample.quantity 
      .sample-data
        %h4= @requested_service.sample.identification
        .description= @requested_service.sample.description
      .clearfix
      - show_details = false
      - @requested_service.sample.sample_details.each do |sd|
        - if !sd.client_identification.blank? 
          - show_details = true
          - break
      - if show_details
        .table-container
        %table.table.table-striped
          %thead
            %tr
              %th= "ID CIMAV"
              %th= "ID CLIENTE"
          %tbody
            - @requested_service.sample.sample_details.each do |sd|
              %tr
                %td.consecutive= "#{@requested_service.sample.service_request.number}-M#{sd.consecutive}"
                %td.client-id
                  = sd.client_identification
                  - if sd.notes != ''
                    .notes= sd.notes
    .services
      %h3 Servicios 
      %div{:id => "sample-#{@requested_service.sample.id}-services"}
        = render :partial => 'samples/requested_services_list', :locals => {:sample => @requested_service.sample, :request => @requested_service.sample.service_request, :lab_view => true}
      .clearfix
  #folder-work-panel

:javascript
  getRequestedService("#{@requested_service.id}");