.sheet
  .header-status{:class => "bg-status-send-quote"}
    - if @requested_service.laboratory_service.laboratory.quote_needs_auth && @requested_service.status.to_i == RequestedService::TO_QUOTE
      %span.status= "Enviar costeo a administrador para su autorización"
    - else
      %span.status= "Enviar costeo"
    %a.close{:class => 'requested-service-link', 'data-id' => @requested_service.id, 'data-sample-id' => @requested_service.sample_id}="×"
  .dialog-content.padded
    = form_for @requested_service, :remote => true, :html => {:'data-type' => 'html', :id => 'status-form'} do |f|
      .dialog-title
        - if @requested_service.laboratory_service.laboratory.quote_needs_auth && @requested_service.status.to_i == RequestedService::TO_QUOTE
          %h3= "Enviar costeo a administrador para su autorización"
        - else
          %h3= "Enviar costeo"
      .dialog-body
        - if @requested_service.laboratory_service.laboratory.quote_needs_auth && @requested_service.status.to_i == RequestedService::TO_QUOTE
          = f.hidden_field :status, {:value => RequestedService::QUOTE_AUTH}
        - else
          = f.hidden_field :status, {:value => RequestedService::WAITING_START}
        .notes.field
          = label_tag 'activity_log_msg', 'Notas:'
          = text_area_tag 'activity_log_msg', '', {:class => 'form-control'}
      .dialog-footer
        .send-mail-footer
          = check_box_tag 'send_mail', 'yes', true, {:style => 'float: left;'}
          = label_tag 'send_mail', 'Enviar por correo.', {:style => 'margin-left: 4px; float: left;'}
        = button_tag "Enviar", {:class => "btn btn-primary", :type => "submit"}
      .clearfix
