- lab_access = @requested_service.laboratory_service.laboratory.laboratory_members.where(:user_id => current_user.id).first.access rescue 0
- im_lab_admin = lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
- im_service_tech = @requested_service.user_id == current_user.id
- im_requestor = @requested_service.sample.service_request.user_id == current_user.id
- im_req_supervisor = @requested_service.sample.service_request.user.supervisor1_id == current_user.id || @requested_service.sample.service_request.user.supervisor2_id == current_user.id || @requested_service.sample.service_request.supervisor_id == current_user.id


- initial_action =  @requested_service.status.to_i > RequestedService::INITIAL &&  
-                   @requested_service.status.to_i < RequestedService::FINISHED &&  
-                   im_lab_admin && @requested_service.status.to_i != RequestedService::REQ_SUP_AUTH &&  
-                   @requested_service.status.to_i != RequestedService::REQ_OWNER_AUTH &&  
-                   @requested_service.status.to_i != RequestedService::TO_QUOTE &&  
-                   @requested_service.status.to_i != RequestedService::WAITING_START

- received_action = @requested_service.status.to_i == RequestedService::INITIAL && im_lab_admin

- assigned_action = @requested_service.status.to_i == RequestedService::RECEIVED && im_lab_admin

- suspended_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || 
-                         @requested_service.status.to_i == RequestedService::REINIT) && 
-                    (im_lab_admin || im_service_tech)

- reinit_action = (@requested_service.status.to_i == RequestedService::SUSPENDED) && (im_lab_admin || im_service_tech)

- in_progress_action = @requested_service.status.to_i == RequestedService::ASSIGNED && (im_lab_admin || im_service_tech)

- finished_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || @requested_service.status.to_i == RequestedService::REINIT) && (im_lab_admin || im_service_tech)

- canceled_action = @requested_service.status.to_i != RequestedService::TO_QUOTE &&
-                   @requested_service.status.to_i != RequestedService::WAITING_START &&
-                   (  @requested_service.status.to_i > RequestedService::INITIAL && 
-                      @requested_service.status.to_i < RequestedService::FINISHED && 
-                      im_lab_admin) ||
-                   (  (  @requested_service.status.to_i == RequestedService::INITIAL || 
-                         @requested_service.status.to_i == RequestedService::SUSPENDED) &&
-                      im_requestor ) ||
-                   ((@requested_service.status.to_i == RequestedService::REQ_OWNER_AUTH) && im_requestor) ||

- sup_auth_action = @requested_service.status.to_i == RequestedService::REQ_SUP_AUTH && im_req_supervisor

- owner_auth_action = @requested_service.status.to_i == RequestedService::REQ_OWNER_AUTH && im_requestor

- send_quote_action = @requested_service.status.to_i == RequestedService::TO_QUOTE && im_requestor

- waiting_action = @requested_service.status.to_i == RequestedService::WAITING_START && im_requestor

.sheet
  .header-status{:class => "bg-#{@requested_service.status_class}"}
    %span.status= @requested_service.status_text
    %span.number= @requested_service.number

  #requested-service-data
    %h3
      = @requested_service.laboratory_service.name
    - if !@requested_service.details.blank?
      %p= @requested_service.details
    %strong= "Técnico Sugerido: "
    = "#{(@requested_service.suggested_user.full_name rescue 'Cualquier Técnico')}"
    - if !@requested_service.user_id.blank?
      %br
      %strong=  "Técnico Asignado: "
      = "#{(@requested_service.user.full_name)}"
  #rs-actions-area
    #requested-service-actions-title
      = "Acciones"
    #requested-service-actions
      - if initial_action
        %button{:class => "btn btn-block btn-status bg-status-initial", :status_action => RequestedService::INITIAL, :id => 'change_status_initial'}
          = "Regresar a inicio"
      - if received_action
        %button{:class => "btn btn-block btn-status bg-status-received", :status_action => RequestedService::RECEIVED, :id => 'change_status_received'}
          = "Recibir muestra"
      - if assigned_action
        %button{:class => "btn btn-block btn-status bg-status-assigned", :status_action => RequestedService::ASSIGNED, :id => 'change_status_assigned'}
          = "Asignar técnico"
      - if suspended_action
        %button{:class => "btn btn-block btn-status bg-status-suspended", :status_action => RequestedService::SUSPENDED, :id => 'change_status_suspended'}
          = "Suspender servicio"
      - if reinit_action
        %button{:class => "btn btn-block btn-status bg-status-reinit", :status_action => RequestedService::REINIT, :id => 'change_status_reinit'}
          = "Reiniciar servicio"
      - if in_progress_action
        %button{:class => "btn btn-block btn-status bg-status-in-progress", :status_action => RequestedService::IN_PROGRESS, :id => 'change_status_in_progress'}
          = "Empezar servicio"
      - if finished_action
        %button{:class => "btn btn-block btn-status bg-status-finished", :status_action => RequestedService::FINISHED, :id => 'change_status_finished'}
          = "Finalizar servicio"
      - if sup_auth_action
        %button{:class => "btn btn-block btn-status bg-status-sup-auth", :status_action => RequestedService::INITIAL, :id => 'change_status_sup_auth'}
          = "Autorizar el servicio"
      - if owner_auth_action
        %button{:class => "btn btn-block btn-status bg-status-owner-auth", :status_action => RequestedService::INITIAL, :id => 'change_status_owner_auth'}
          = "Autorizar el servicio"
      - if send_quote_action
        %button{:class => "btn btn-block btn-status bg-status-send-quote", :status_action => RequestedService::TO_QUOTE, :id => 'change_status_send_quote'}
          = "Enviar costeo"
      - if canceled_action
        %button{:class => "btn btn-block btn-status bg-status-canceled", :status_action => RequestedService::CANCELED, :id => 'change_status_canceled'}
          = "Cancelar servicio"
    .clearfix

  .clearfix
  #requested-service-action-dialog
  .clearfix

  #requested-service-tabs
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#bitacora", "data-toggle" => "tab"}= "Bitácora"
      %li
        %a{:href => "#costeo", "data-toggle" => "tab", "id" => "costeo_tab"}= "Costeo"
      %li
        %a{:href => "#archivos", "data-toggle" => "tab", :id => "active-archivos-link"}= "Archivos"
    

  .tab-content

    #bitacora.tab-pane.active
      #activity_log
        = render :partial => 'activity_log/activity_log', :locals => {:activity_log => @activity_log, 
                                                                      :service_request_id => @requested_service.sample.service_request_id, 
                                                                      :sample_id => @requested_service.sample_id, 
                                                                      :requested_service_id => @requested_service.id}
    #archivos.tab-pane
      #files_iframe_outer
        %iframe{"name" => "submit_iframe", "id" => "files_iframe", "src" => "/service_files/ui/#{@requested_service.sample.service_request_id}/#{@requested_service.sample_id}/#{@requested_service.id}"}
      .clearfix

    #costeo.tab-pane
      #costeo_inner
        = render :partial => 'costs', :locals => {:requested_service => @requested_service, :grand_total => @grand_total }

        