- lab_access = @requested_service.laboratory_service.laboratory.laboratory_members.where(:user_id => current_user.id).first.access rescue 0
- im_lab_admin = lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
- im_service_tech = @requested_service.user_id == current_user.id
- im_requestor = @requested_service.sample.service_request.user_id == current_user.id

- initial_action =  @requested_service.status.to_i > RequestedService::INITIAL && @requested_service.status.to_i < RequestedService::FINISHED && im_lab_admin
- received_action = @requested_service.status.to_i == RequestedService::INITIAL && im_lab_admin
- assigned_action = @requested_service.status.to_i == RequestedService::RECEIVED && im_lab_admin
- suspended_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || @requested_service.status.to_i == RequestedService::REINIT) && (im_lab_admin || im_service_tech)
- reinit_action = (@requested_service.status.to_i == RequestedService::SUSPENDED) && (im_lab_admin || im_service_tech)
- in_progress_action = @requested_service.status.to_i == RequestedService::ASSIGNED && (im_lab_admin || im_service_tech)
- finished_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || @requested_service.status.to_i == RequestedService::REINIT) && (im_lab_admin || im_service_tech)
- canceled_action = (@requested_service.status.to_i > RequestedService::INITIAL && @requested_service.status.to_i < RequestedService::FINISHED && im_lab_admin) || ((@requested_service.status.to_i == RequestedService::INITIAL || @requested_service.status.to_i == RequestedService::SUSPENDED) && im_requestor ) 


#requested-service-header 
  #requested-service-name= @requested_service.laboratory_service.name
  #requested-service-actions
    .btn-group
      %a.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        %span{:class => "badge status_#{@requested_service.status}"}
          %i.icon-tags.icon-white
        = @requested_service.status_text
        %span.caret
      %ul.dropdown-menu
        - klass = ''
        - if initial_action
          - klass = "badge status_#{RequestedService::INITIAL}"
          %li
            %a{:status_action => RequestedService::INITIAL, :id => 'change_status_initial'}
              %span{:class => klass}
                %i.icon-tags.icon-white
              = "Regresar a inicio"

        - if received_action
          - klass = "badge status_#{RequestedService::RECEIVED}"
          %li
            %a{:status_action => RequestedService::RECEIVED, :id => 'change_status_received'}
              %span{:class => klass}
                %i.icon-tags.icon-white
              = "Recibir muestra"

        - if assigned_action
          - klass = "badge status_#{RequestedService::ASSIGNED}"
          %li{:status_action => RequestedService::ASSIGNED, :id => 'change_status_assigned'}
            %span{:class => klass}
              %i.icon-tags.icon-white
            = "Asignar técnico"

        - if suspended_action
          - klass = "badge status_#{RequestedService::SUSPENDED}"
          %li{:status_action => RequestedService::SUSPENDED, :id => 'change_status_suspended'}
            %span{:class => klass}
              %i.icon-tags.icon-white
            = "Suspender servicio"

        - if reinit_action
          - klass = "badge status_#{RequestedService::REINIT}"
          %li{:status_action => RequestedService::REINIT, :id => 'change_status_reinit'}
            %span{:class => klass}
              %i.icon-tags.icon-white
            = "Reiniciar servicio"

        - if in_progress_action
          - klass = "badge status_#{RequestedService::IN_PROGRESS}"
          %li{:status_action => RequestedService::IN_PROGRESS, :id => 'change_status_in_progress'}
            %span{:class => klass}
              %i.icon-tags.icon-white
            = "Empezar servicio"

        - if finished_action
          - klass = "badge status_#{RequestedService::FINISHED}"
          %li{:status_action => RequestedService::FINISHED, :id => 'change_status_finished'}
            %span{:class => klass}
              %i.icon-tags.icon-white
            = "Finalizar servicio"

        - if canceled_action
          - klass = "badge status_#{RequestedService::CANCELED}"
          %li
            %a{:status_action => RequestedService::CANCELED, :id => 'change_status_canceled'}
              %span{:class => klass}
                %i.icon-tags.icon-minus-sign.icon-white
              = "Cancelar servicio"
        - if klass == ''
          %li.no-actions= "No existen acciones"
          
#requested-service-info
  .info-row
    .laboratory-name
      %i.icon-asterisk
      %strong= "Laboratorio: " 
      = @requested_service.laboratory_service.laboratory.name
    .suggested-user
      %i.icon-star
      %strong= "Técnico Sugerido: "
      = "#{(@requested_service.suggested_user.full_name rescue 'Cualquier Técnico')}"
      - if !@requested_service.user_id.blank?
        %strong= "/ Técnico Asignado: "
        = "#{(@requested_service.user.full_name)}"
  .info-row
    .folder-type
      %i.icon-folder-open
      %strong= "#{(@requested_service.sample.service_request.request_type.name rescue 'Sin Tipo')}: "
      = @requested_service.sample.service_request.request_link
    .folder-owner
      %i.icon-user
      %strong= "Dueño: "
      = "El dueño"
  .info-row
    .service-details
      %i.icon-comment
      %strong= "Anotaciones Particulares: "
      - if !@requested_service.details.blank?
        = @requested_service.details
      - else
        = "Ninguna"

#requested-service-tabs
  %ul.nav.nav-tabs
    %li
      %a{:href => "#detalles", "data-toggle" => "tab"}= "Detalles"
    %li.active
      %a{:href => "#bitacora", "data-toggle" => "tab"}= "Bitácora"
    %li
      %a{:href => "#archivos", "data-toggle" => "tab"}= "Archivos"
    %li
      %a{:href => "#costeo", "data-toggle" => "tab"}= "Costeo"

#requested-service-tabsx-content.tab-content

  #detalles.tab-pane
    = "Por implementar"

  #bitacora.tab-pane.active
    #activity_log
      = render :partial => 'activity_log/activity_log', :locals => {:activity_log => @activity_log, 
                                                                  :service_request_id => @requested_service.sample.service_request_id, 
                                                                  :sample_id => @requested_service.sample_id, 
                                                                  :requested_service_id => @requested_service.id}
  #archivos.tab-pane
    %iframe{"name" => "submit_iframe", "id" => "files_iframe", "width" => "100%", "height" => "1250", "src" => "/service_files/ui/#{@requested_service.sample.service_request_id}/#{@requested_service.sample_id}/#{@requested_service.id}", "scrolling" => "no" }

  #costeo.tab-pane
    = "Por implementar"


