- lab_access = @requested_service.laboratory_service.laboratory.laboratory_members.where(:user_id => current_user.id).first.access
- im_lab_admin = lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
- im_service_tech = @requested_service.user_id == current_user.id
- im_requestor = @requested_service.sample.service_request.user_id == current_user.id

- initial_action =  @requested_service.status.to_i > RequestedService::INITIAL && @requested_service.status.to_i < RequestedService::FINISHED && im_lab_admin
- received_action = @requested_service.status.to_i == RequestedService::INITIAL && im_lab_admin
- assigned_action = @requested_service.status.to_i == RequestedService::RECEIVED && im_lab_admin
- suspended_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || @requested_service.status.to_i == RequestedService::REINIT) && (im_lab_admin || im_service_tech)
- reinit_action = (@requested_service.status.to_i == RequestedService::SUSPENDED) && (im_lab_admin || im_service_tech)
- in_progress_action = @requested_service.status.to_i == RequestedService::ASSIGNED && (im_lab_admin || im_service_tech)
- finished_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || @requested_service.status.to_i == RequestedService::REINIT) && (im_lab_admin || im_service_tech)
- canceled_action = (@requested_service.status.to_i > RequestedService::INITIAL && @requested_service.status.to_i < RequestedService::FINISHED && im_lab_admin) || ((@requested_service.status.to_i == RequestedService::INITIAL || @requested_service.status.to_i == RequestedService::SUSPENDED) && im_requestor ) 


#requested-service-header 
  #requested-service-actions
    #requested-service-status{:class => "status_#{@requested_service.status}"}
      = @requested_service.status_text
    #action-list
      %ul
        - if initial_action
          - klass = "status_#{RequestedService::INITIAL}"
          %li{:status_action => RequestedService::INITIAL, :class => klass, :id => 'change_status_initial'}= "Regresar a inicio"

        - if received_action
          - klass = "status_#{RequestedService::RECEIVED}"
          %li{:status_action => RequestedService::RECEIVED, :class => klass, :id => 'change_status_received'}= "Recibir muestra"

        - if assigned_action
          - klass = "status_#{RequestedService::ASSIGNED}"
          %li{:status_action => RequestedService::ASSIGNED, :class => klass, :id => 'change_status_assigned'}= "Asignar técnico"

        - if suspended_action
          - klass = "status_#{RequestedService::SUSPENDED}"
          %li{:status_action => RequestedService::SUSPENDED, :class => klass, :id => 'change_status_suspended'}= "Suspender servicio"

        - if reinit_action
          - klass = "status_#{RequestedService::REINIT}"
          %li{:status_action => RequestedService::REINIT, :class => klass, :id => 'change_status_reinit'}= "Reiniciar servicio"

        - if in_progress_action
          - klass = "status_#{RequestedService::IN_PROGRESS}"
          %li{:status_action => RequestedService::IN_PROGRESS, :class => klass, :id => 'change_status_in_progress'}= "Empezar servicio"

        - if finished_action
          - klass = "status_#{RequestedService::FINISHED}"
          %li{:status_action => RequestedService::FINISHED, :class => klass, :id => 'change_status_finished'}= "Finalizar servicio"

        - if canceled_action
          - klass = "status_#{RequestedService::CANCELED}"
          %li{:status_action => RequestedService::CANCELED, :class => klass, :id => 'change_status_canceled'}= "Cancelar servicio"

  %h1= @requested_service.laboratory_service.name
  %h2= @requested_service.laboratory_service.laboratory.name
  #suggested-user
    %strong= "Técnico Sugerido: "
    = "#{(@requested_service.suggested_user.full_name rescue 'Cualquier Técnico')}"
    - if !@requested_service.user_id.blank?
      %strong= "/ Técnico Asignado: "
      = "#{(@requested_service.user.full_name)}"

#requested-service-details
  %strong Anotaciones Particulares:
  %div= @requested_service.details

#requested-service-tabs.tabs
  %ul
    %li.selected
      %a{:id => 'activity-tab-link'}= "Bitácora"
    %li
      %a{:id => 'files-tab-link'}= "Archivos"

#activity-tab.tab-content
  #activity_log
    = render :partial => 'activity_log/activity_log', :locals => {:activity_log => @activity_log, 
                                                                  :service_request_id => @requested_service.sample.service_request_id, 
                                                                  :sample_id => @requested_service.sample_id, 
                                                                  :requested_service_id => @requested_service.id}
#files-tab.tab-content
  %iframe{"name" => "submit_iframe", "id" => "files_iframe", "width" => "100%", "height" => "1250", "src" => "/service_files/ui/#{@requested_service.sample.service_request_id}/#{@requested_service.sample_id}/#{@requested_service.id}", "scrolling" => "no" }


