- lab_access = @requested_service.laboratory_service.laboratory.laboratory_members.where(:user_id => current_user.id).first.access rescue 0
- im_lab_admin = lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
- im_service_tech = @requested_service.user_id == current_user.id
- im_requestor = @requested_service.sample.service_request.user_id == current_user.id
- im_req_supervisor = @requested_service.sample.service_request.user.supervisor1_id == current_user.id || @requested_service.sample.service_request.user.supervisor2_id == current_user.id || @requested_service.sample.service_request.supervisor_id == current_user.id


- received_action = (@requested_service.status.to_i == RequestedService::INITIAL || @requested_service.status.to_i == RequestedService::DELIVERED || @requested_service.status.to_i == RequestedService::RETURNED) && im_lab_admin
- delivered_action = @requested_service.status.to_i == RequestedService::INITIAL && im_requestor


- assigned_action = @requested_service.status.to_i == RequestedService::RECEIVED && im_lab_admin

- suspended_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || 
-                         @requested_service.status.to_i == RequestedService::REINIT) && 
-                    (im_lab_admin || im_service_tech)

- reinit_action = (@requested_service.status.to_i == RequestedService::SUSPENDED) && (im_lab_admin || im_service_tech)

- in_progress_action = @requested_service.status.to_i == RequestedService::ASSIGNED && (im_lab_admin || im_service_tech)

- finished_action = (@requested_service.status.to_i == RequestedService::IN_PROGRESS || @requested_service.status.to_i == RequestedService::REINIT) && (im_lab_admin || im_service_tech)

- if @requested_service.sample.service_request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_TIPO_2 || @requested_service.sample.service_request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO
  - canceled_action = false



- sup_auth_action = @requested_service.status.to_i == RequestedService::REQ_SUP_AUTH && im_req_supervisor

- owner_auth_action = @requested_service.status.to_i == RequestedService::REQ_OWNER_AUTH && im_requestor

- send_quote_action = @requested_service.status.to_i == RequestedService::TO_QUOTE && (im_lab_admin || im_service_tech)

- auth_quote_action = @requested_service.status.to_i == RequestedService::QUOTE_AUTH && (im_lab_admin || im_service_tech)


- waiting_action = @requested_service.status.to_i == RequestedService::WAITING_START && im_requestor


- initial_action =  !auth_quote_action &&
-                   @requested_service.status.to_i > RequestedService::INITIAL &&  
-                   @requested_service.status.to_i < RequestedService::FINISHED &&  
-                   im_lab_admin && @requested_service.status.to_i != RequestedService::REQ_SUP_AUTH &&  
-                   @requested_service.status.to_i != RequestedService::REQ_OWNER_AUTH &&  
-                   @requested_service.status.to_i != RequestedService::TO_QUOTE &&  
-                   @requested_service.status.to_i != RequestedService::WAITING_START

- canceled_action = !auth_quote_action && 
-                   @requested_service.status.to_i != RequestedService::TO_QUOTE &&
-                   @requested_service.status.to_i != RequestedService::WAITING_START &&
-                   (  @requested_service.status.to_i > RequestedService::INITIAL && 
-                      @requested_service.status.to_i < RequestedService::FINISHED && 
-                      im_lab_admin) ||
-                   (  (  @requested_service.status.to_i == RequestedService::INITIAL || 
-                         @requested_service.status.to_i == RequestedService::SUSPENDED || 
-                         @requested_service.status.to_i == RequestedService::RETURNED) &&
-                      im_requestor ) ||
-                   ((@requested_service.status.to_i == RequestedService::REQ_OWNER_AUTH) && im_requestor) ||
-                    (  @requested_service.status.to_i == RequestedService::RETURNED && 
-                      im_lab_admin) 



- delete_action =  (@requested_service.status.to_i == RequestedService::TO_QUOTE && im_requestor) || (@requested_service.sample.service_request.system_status.to_i == ServiceRequest::SYSTEM_TO_QUOTE && im_requestor) || (@requested_service.sample.service_request.system_status.to_i == ServiceRequest::SYSTEM_PARTIAL_QUOTED && im_requestor)  || (@requested_service.sample.service_request.system_status.to_i == ServiceRequest::SYSTEM_QUOTED && im_requestor) || ( @requested_service.status.to_i == RequestedService::REQ_SUP_AUTH && im_req_supervisor  )

- delete_action = !auth_quote_action && delete_action

- has_action = initial_action || received_action || assigned_action || suspended_action || reinit_action || in_progress_action || finished_action || canceled_action || sup_auth_action || owner_auth_action || send_quote_action || waiting_action || delete_action

.sheet
  .header-status{:class => "bg-#{@requested_service.status_class}"}
    %span.status= @requested_service.status_text
    - if !@requested_service.results_date.blank?
      %span.results-date
        - if @requested_service.status.to_i != RequestedService::CANCELED &&
          -    @requested_service.status.to_i != RequestedService::CONFIRMED &&
          -    @requested_service.status.to_i != RequestedService::FINISHED  
          %strong= "Entrega programada: "
          = "#{@requested_service.results_date},"
          - days = (@requested_service.results_date - Date.today).to_i
          - if days == 0
            %span.deliver-today= ' entregar hoy'
          - elsif days > 0
            %span.deliver-ontime= " faltan #{days} días"
          - else
            %span.deliver-delayed= " retraso de #{days * -1} días"
        - else
          - days = (@requested_service.results_date - @requested_service.finished_date.to_date).to_i
          - if days == 0
            %span.deliver-today= 'Finalizado a tiempo'
          - elsif days > 0
            %span.deliver-ontime= "Finalizado a tiempo"
          - else
            %span.deliver-delayed= "Retraso de #{days * -1} días"

    %span.number= @requested_service.sample.service_request.number
  %table#rs-header
    %tr
      %td#requested-service-data
        %h3
          = @requested_service.laboratory_service.name
        - if !@requested_service.details.blank?
          %p= @requested_service.details
        
        %strong= "Laboratorio: "
        = @requested_service.laboratory_service.laboratory.name
        %br
        %strong= "Técnico Sugerido: "
        = "#{(@requested_service.suggested_user.full_name rescue 'Cualquier Técnico')}"
        - if !@requested_service.user_id.blank?
          %br
          %strong=  "Técnico Asignado: "
          = "#{(@requested_service.user.full_name)}"
        %br
          .numero-interno{:style => 'font-size: 95%; color: #888;'}
            = "Número Interno: #{@requested_service.number}"

        
      %td#requested-service-actions
        - if initial_action
          %button{:class => "btn btn-block btn-status bg-status-initial", :status_action => RequestedService::INITIAL, :id => 'change_status_initial'}
            %span.glyphicon.glyphicon-home
            = "Inicio"
        - if delivered_action
          %button{:class => "btn btn-block btn-status bg-status-received", :status_action => RequestedService::DELIVERED, :id => 'change_status_delivered'}
            %span.glyphicon.glyphicon-th-large
            = "Entregar muestra"
        - if received_action
          %button{:class => "btn btn-block btn-status bg-status-received", :status_action => RequestedService::RECEIVED, :id => 'change_status_received'}
            %span.glyphicon.glyphicon-th-large
            = "Recibir muestra"
        - if assigned_action
          %button{:class => "btn btn-block btn-status bg-status-assigned", :status_action => RequestedService::ASSIGNED, :id => 'change_status_assigned'}
            %span.glyphicon.glyphicon-user
            = "Asignar"
        - if suspended_action
          %button{:class => "btn btn-block btn-status bg-status-suspended", :status_action => RequestedService::SUSPENDED, :id => 'change_status_suspended'}
            %span.glyphicon.glyphicon-pause
            = "Suspender"
        - if reinit_action
          %button{:class => "btn btn-block btn-status bg-status-reinit", :status_action => RequestedService::REINIT, :id => 'change_status_reinit'}
            %span.glyphicon.glyphicon-play
            = "Reiniciar"
        - if in_progress_action
          %button{:class => "btn btn-block btn-status bg-status-in-progress", :status_action => RequestedService::IN_PROGRESS, :id => 'change_status_in_progress'}
            %span.glyphicon.glyphicon-play
            = "Empezar"
        - if finished_action
          %button{:class => "btn btn-block btn-status bg-status-finished", :status_action => RequestedService::FINISHED, :id => 'change_status_finished'}
            %span.glyphicon.glyphicon-ok
            = "Finalizar"
        - if sup_auth_action
          %button{:class => "btn btn-block btn-status bg-status-sup-auth", :status_action => RequestedService::INITIAL, :id => 'change_status_sup_auth'}
            %span.glyphicon.glyphicon-thumbs-up
            = "Autorizar"
        - if owner_auth_action
          %button{:class => "btn btn-block btn-status bg-status-owner-auth", :status_action => RequestedService::INITIAL, :id => 'change_status_owner_auth'}
            %span.glyphicon.glyphicon-thumbs-up
            = "Autorizar"
        - if send_quote_action
          %button{:class => "btn btn-block btn-status bg-status-send-quote", :status_action => RequestedService::TO_QUOTE, :id => 'change_status_send_quote'}
            %span.glyphicon.glyphicon-usd
            - if @requested_service.laboratory_service.laboratory.quote_needs_auth
              = "Solicitar autorización de costeo"
            - else
              = "Enviar costeo a Responsable"

        - if auth_quote_action
          - user_request_auth = ActivityLog.where(:requested_service_id => @requested_service.id, :message_type => 'STATUS', :requested_service_status => RequestedService::QUOTE_AUTH ).last.user_id
          - if current_user.id == user_request_auth
            = "Solo un administrador distinto a ti puede autorizar el costeo de este servicio"
          - else
            %button{:class => "btn btn-block btn-status bg-status-send-quote", :status_action => RequestedService::TO_QUOTE, :id => 'change_status_send_quote'}
              %span.glyphicon.glyphicon-usd
              = "Autorizar y enviar costeo"
            %button{:class => "btn btn-block btn-status bg-status-return-quote", :status_action => RequestedService::TO_QUOTE, :id => 'change_status_return_quote'}
              %span.glyphicon.glyphicon-step-backward
              = "Regresar costeo a técnico"


        - if canceled_action
          %button{:class => "btn btn-block btn-status bg-status-canceled", :status_action => RequestedService::CANCELED, :id => 'change_status_canceled'}
            %span.glyphicon.glyphicon-remove
            = "Cancelar"
        - if delete_action
          %button{:class => "btn btn-block btn-status bg-status-canceled", :status_action => RequestedService::DELETED, :id => 'change_status_deleted'}
            %span.glyphicon.glyphicon-trash
            = "Eliminar"
  
  .clearfix
  #requested-service-action-dialog
  .clearfix

  #requested-service-tabs
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#bitacora", "data-toggle" => "tab"}= "Bitácora"
      %li
        %a{:href => "#costeo", "data-toggle" => "tab", "id" => "costeo_tab"}= "Costeo"
      %li
        %a{:href => "#archivos", "data-toggle" => "tab", :id => "active-archivos-link"}= "Archivos"
      - if @requested_service.sample.service_request.is_vinculacion?
        %li 
          %a{:href => "#archivosvinculacion", "data-toggle" => "tab", :id => "active-archivosvinculacion-link"}= "Archivos Vinculación"
      - unless @requested_service.sample.service_request.is_vinculacion?
        %li
          %a{:href => "#pts", "data-toggle" => "tab", :id => "active-pts-link"}= "Puntos Estímulos"
      %li
        %a{:href => "#legend", "data-toggle" => "tab", "id" => "legend_tab"}= "Leyenda"
      - if @requested_service.status.to_i == RequestedService::CONFIRMED
        %li
          %a{:href => "#survey", "data-toggle" => "tab", "id" => "legend_tab"}= "Encuesta"


  .tab-content

    #bitacora.tab-pane.active
      #activity_log
        = render :partial => 'activity_log/activity_log', :locals => {:activity_log => @activity_log, 
                                                                      :service_request_id => @requested_service.sample.service_request_id, 
                                                                      :sample_id => @requested_service.sample_id, 
                                                                      :requested_service_id => @requested_service.id,
                                                                      :maintenance_id => 0}
    
    #costeo.tab-pane
      #costeo_inner
        = render :partial => 'costs', :locals => {:requested_service => @requested_service, :grand_total => @grand_total }

    #archivos.tab-pane
      = render :partial => 'files', :locals => {:requested_service => @requested_service }
      .clearfix
    - if @requested_service.sample.service_request.is_vinculacion?
      #archivosvinculacion.tab-pane
        = render :partial => 'files_vinculacion', :locals => {:requested_service => @requested_service }
    - unless @requested_service.sample.service_request.is_vinculacion?
      - if part = @requested_service.requested_service_technicians.where(:user_id => current_user.id).first
        - current_user_participation = part.participation
      - else 
        - current_user_participation = 0
      #pts.tab-pane
        - if @requested_service.laboratory_service.is_catalog?
          - total_serv = @requested_service.laboratory_service.sale_price / 2
          %h4= "Costo para estímulos (evaluado por regla de Costo Vinculación)"
          %table.table
            %tr
              %th.text-center= "Precio Venta Vinculación"
              %th.text-center
                = "Costo para Estímulos"
                %br
                = "(Precio Venta / 2)"
              %th.text-center= "Muestras"
              %th.text-center= "Total"
            %tr
              %td.text-center= number_to_currency(@requested_service.laboratory_service.sale_price)
              %td.text-center= number_to_currency(total_serv)
              %td.text-center= @requested_service.sample.quantity
              %td.text-center= number_to_currency(total_serv * @requested_service.sample.quantity)

          %h4= "Repartición"
          %table.table
            %tr
              %th= "Nombre"
              %th.text-center= "Porcentaje Participación"
              %th.text-center= "Total"
              %th.text-center= "Puntos"
            - @requested_service.requested_service_technicians.each do |p| 
              - total_user = (total_serv * @requested_service.sample.quantity) / (p.participation / 100)
              - if current_user.id == p.user.id
                - klass = 'success'
              - else
                - klass = 'participante'
              %tr{:class => klass}
                %td.text-center= p.user.full_name
                %td.text-center= "#{p.participation}%"
                %td.text-center= number_to_currency(total_user) 
                %td.text-center= total_user / RequestedService::UN_PUNTO 

        - else
          - total_serv = @grand_total * (1 + RequestedService::INDIRECTOS / 100) * (1 + RequestedService::MARGEN / 100)
          %h4= "Costo para estímulos (evaluado por regla de Costo Interno)"
          %table.table
            %tr
              %th.text-center= "Costo Interno"
              %th.text-center= "+"
              %th.text-center
                = "Indirectos"
                %br
                = "#{RequestedService::INDIRECTOS}%"
              %th.text-center= "+"
              %th.text-center
                = "Margen"
                %br
                = "#{RequestedService::MARGEN}%"
              %th.text-center= "Costo para Estímulos"
            %tr
              %td.text-center= number_to_currency(@grand_total)
              %td.text-center= "+"
              %td.text-center= number_to_currency(@grand_total * (RequestedService::INDIRECTOS / 100))
              %td.text-center= "+"
              %td.text-center= number_to_currency(@grand_total * (RequestedService::MARGEN / 100))
              %td.text-center= number_to_currency(total_serv)
          
          %h4= "Repartición"
          %table.table
            %tr
              %th= "Nombre"
              %th.text-center
                = "Porcentaje Participación"
              %th.text-center= "Total"
              %th.text-center= "Puntos"
            - @requested_service.requested_service_technicians.each do |p| 
              - total_user = total_serv / (p.participation / 100)
              - if current_user.id == p.user.id
                - klass = 'success'
              - else
                - klass = 'participante'
              %tr{:class => klass}
                %td.text-center= p.user.full_name
                %td.text-center= "#{p.participation}%"
                %td.text-center= number_to_currency(total_user) 
                %td.text-center= total_user / RequestedService::UN_PUNTO 

    #legend.tab-pane
      .media.write-message
        .media-body
          = form_for @requested_service, :remote => true, :html => {:'data-type' => 'html', :id => 'edit-legend-requested-services-form'} do |f|
            .legend-textarea
              = f.text_area :legend, {:class => 'form-control', :rows => 6, :placeholder => 'Escribe aquí la leyenda'}
            .edit-legend-button
              = button_tag "Guardar", {:class => "btn btn-info", :type => "submit"}
    - if @requested_service.status.to_i == RequestedService::CONFIRMED
      #survey.tab-pane
        = render :partial => 'show_survey', :locals => {:requested_service => @requested_service }


