%h1= @user.full_name
= form_for @user, :remote => true, :html => {:'data-type' => 'html', :id => 'edit-user-form'} do |f|
  .field#field_first_name
    = f.label :first_name, 'Nombre:'
    = f.text_field :first_name, {:class => 'input-xxlarge', :placeholder => 'Nombre del usuario'}
  .field#field_last_name
    = f.label :last_name, 'Nombre:'
    = f.text_field :last_name, {:class => 'input-xxlarge', :placeholder => 'Apellido del usuario'}
  .field#field_last_name
    = f.label :email, 'Correo electrónico:'
    = f.text_field :email, {:class => 'input-xxlarge', :placeholder => 'Correo electrónico'}
  .field#field_access
    = f.label :unit_id, 'Tipo de acceso:'
    - access_options = ""
    - User::ACCESS_TYPES.sort {|a,b| a[1] <=> b[1] }.each do |k,v|
      - if k.to_i == @user.access.to_i
        - access_options += "<option value=\"#{k}\" selected=\"selected\">#{v}</option>"
      - else
        - access_options += "<option value=\"#{k}\">#{v}</option>"
    = f.select :access, access_options.html_safe
  .field#field_employee_number
    = f.label :employee_number, 'Identificador de empleado:'
    = f.text_field :employee_number, {:class => 'input-large'}
  - if !@user.hourly_wage.blank?
    .field#field_hourly_wage
      = f.label :hourly_wage, 'Sueldo por hora:'
      = number_to_currency(@user.hourly_wage)
  %br  
  .submit-button
    = f.submit "Actualizar usuario", {:class => "btn btn-primary"}
