- editable = @requested_service.laboratory_service.is_catalog == LaboratoryService::SERVICE_FREE || (@requested_service.laboratory_service.is_catalog == LaboratoryService::SERVICE_CATALOG && current_user.is_customer_service?)

%table.table.table-striped.table-bordered.costeo_table
  %thead
    %tr
      %th{:colspan => 7, :class => "th-header"}= "Equipos"
    - if @requested_service.requested_service_equipments.count > 0
      %tr
        %th{:rowspan => 2}= ""
        %th{:rowspan => 2}= "Nombre"
        %th{:rowspan => 2}= "Horas"
        %th{:colspan => 2}= "Para Vinculación"
        %th{:colspan => 2}= "Para Interno"
      %tr
        %th= "Costo x Hora"
        %th= "Subtotal"
        %th= "Costo x Hora (Interno)"
        %th= "Subtotal (Interno)"
  %tbody
    - eq_total = 0
    - eq_internal_total = 0
    - eqs = []
    
    - if @requested_service.requested_service_equipments.count == 0
      %tr.empty-cost
        %td{:colspan => 7}= "Sin equipos"
    - @requested_service.requested_service_equipments.each do |eq|
      - eq_cost = eq.hours * eq.equipment.hourly_rate
      - eq_internal_cost = eq.hours * eq.equipment.internal_hourly_rate
      - eq_total = eq_total + eq_cost  
      - eq_internal_total = eq_internal_total + eq_internal_cost  
      - eqs << eq.equipment_id
      %tr.equipment-row{'data-id' => eq.id, :id => "equipment_row_#{eq.id}"}
        %td
          - if editable
            = link_to '×', {:controller => 'requested_services', :action => 'delete_eq', :eq_id => eq.id}, :method => :post, :remote => true, :class => 'close', :'data-type' => 'html', 'data-id' => eq.id
        %td
          = eq.equipment.name
          - if !eq.details.blank?
            .eq-details= eq.details
        %td
          - if editable
            - u_options = ''
            - for i in 0.step(100, 0.5)
              - if eq.hours == i
                - u_options += "<option value=\"#{i}\" selected=\"selected\">#{i} horas</option>"
              - else 
                - u_options += "<option value=\"#{i}\">#{i} horas</option>"
            = select_tag "eq_hours_#{eq.id}", u_options.html_safe, {:style => "width: 100%; min-width: 120px;", "data-id" => eq.id, :class => "eq_hours_template form-control"}
          - else 
            = "#{eq.hours} horas"
        %td
          .align-right= number_to_currency(eq.equipment.hourly_rate)
        %td
          .align-right= number_to_currency(eq_cost)
        %td
          .align-right= number_to_currency(eq.equipment.internal_hourly_rate)
        %td
          .align-right= number_to_currency(eq_internal_cost)
    - if @requested_service.requested_service_equipments.count > 0
      %tr.total-row
        %td{:colspan => 3}
          .align-right= "Subtotal "
        %td{:colspan => 2}
          .align-right= number_to_currency(eq_total)
        %td{:colspan => 2}
          .align-right= number_to_currency(eq_internal_total)

    - if editable
      - if eqs.count > 0
        - with_eq = " AND id NOT IN (#{(eqs.join(','))})"
      - else 
        - with_eq = ""
      - equipments = Equipment.where("laboratory_id = #{@requested_service.laboratory_service.laboratory_id} #{with_eq}")
      - u_options = ''
      - equipments.each do |e|
        - u_options += "<option value=\"#{e.id}\">#{e.name}</option>"
      - if u_options != ''
        %tr.add-row
          %td{:colspan => 7}
            %button#show_fields_eq.show_fields.btn.btn-info.btn-sm= "Agregar equipo…"
            #fields_eq.costeo_fields
              .field
                %label= "Equipo: "
                = select_tag :new_eq_id, u_options.html_safe, {:style => "width: 100%;", :class => 'form-control'}
              .field
                %label= "Horas: "
                - u_options = ''
                - for i in 0.step(100, 0.5)
                  - u_options += "<option value=\"#{i}\">#{i} horas</option>"
                = select_tag :new_eq_hours, u_options.html_safe, {:style => "width: 100%;", :class => 'form-control'}
              .field
                %button.btn.btn-mini.btn-info#add-equipment-template= "Agregar equipo"

