- editable = @requested_service.laboratory_service.is_catalog == LaboratoryService::SERVICE_FREE || (@requested_service.laboratory_service.is_catalog == LaboratoryService::SERVICE_CATALOG && current_user.is_customer_service?)

%table.table.table-striped.table-bordered.costeo_table
  %thead
    %tr
      %th{:colspan => 5, :class => "th-header"}= "Otros conceptos"
    - if @requested_service.requested_service_others.count > 0
      %tr
        %th= "Tipo"
        %th{:colspan => 2}= "Concepto"
        %th= "Precio"
  %tbody
    - other_total = 0
    - if @requested_service.requested_service_others.count == 0
      %tr.empty-cost
        %td{:colspan => 5}= "Sin otros conceptos"
    - @requested_service.requested_service_others.each do |other|
      - other_total = other_total + other.price
      %tr.other-row{'data-id' => other.id, :id => "other_row_#{other.id}"}
        %td
          - if editable
            = link_to '×', {:controller => 'requested_services', :action => 'delete_other', :other_id => other.id}, :method => :post, :remote => true, :class => 'close', :'data-type' => 'html', 'data-id' => other.id
        %td
          = other.other_type.name
        %td{:colspan => 2}
          = other.concept
          - if !other.details.blank?
            .other-details= other.details
        %td
          - if editable
            = text_field_tag "price_#{other.id}", other.price, {:class => "other_price_template form-control", "data-id" => other.id}
          - else
            = number_to_currency(other.price)
    - if @requested_service.requested_service_others.count > 0
      %tr.total-row
        %td{:colspan => 4}
          .align-right= "Subtotal otros conceptos"
        %td
          .align-right= number_to_currency(other_total)
    - if editable
      - u_options = ''
      - OtherType.order('name').each do |o|
        - u_options += "<option value=\"#{o.id}\">#{o.name}</option>"
      - if u_options != ''
        %tr.add-row
          %td{:colspan => 5}
            %button#show_fields_other.show_fields.btn.btn-info.btn-sm= "Agregar concepto…"
            #fields_other.costeo_fields
              .field
                %label= "Tipo: "
                = select_tag :new_other_type, u_options.html_safe, {:style => "width: 200px;", :class => 'form-control'}
              .field
                %label= "Descripción: "
                = text_field_tag 'new_other_concept', nil,  { :placeholder => "Concepto…", :class => 'form-control' }
              .field
                %label="Precio: "
                = text_field_tag 'new_other_price', nil, { :placeholder => "Precio…", :class => 'form-control' }
              .field
                %button.btn.btn-mini.btn-info#add-other-template= "Agregar concepto"
