%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{:colspan => 5, :class => "th-header"}= "Personal Involucrado"
    - if @requested_service.requested_service_technicians.count > 0
      %tr
        %th= "Nombre"
        %th= "Participación"
        %th= "Horas"
        %th= "Costo x Hora"
        %th= "Subtotal"
  %tbody
    - tech_total = 0
    - part_total = 0
    - techs = []
    - if @requested_service.requested_service_technicians.count == 0 
      %tr.empty-cost
        %td{:colspan => 5}= "Sin personal"
    - @requested_service.requested_service_technicians.each do |tech|
      - tech_cost = tech.hours * tech.user.hourly_wage
      - tech_total = tech_total + tech_cost  
      - part_total = part_total + tech.participation
      - techs << tech.user_id
      %tr.technician-row{'data-id' => tech.id, :id => "technician_row_#{tech.id}"}
        %td
          = tech.user.full_name
          - if !tech.details.blank?
            .tech-details= tech.details
          = link_to '×', {:controller => 'requested_services', :action => 'delete_tech', :tech_id => tech.id}, :method => :post, :remote => true, :class => 'close', :'data-type' => 'html', 'data-id' => tech.id
        %td
          - u_options = ''
          - for i in 100.downto(0)
            - if tech.participation == i
              - u_options += "<option value=\"#{i}\" selected=\"selected\">#{i}%</option>"
            - else
              - u_options += "<option value=\"#{i}\">#{i}%</option>"
          = select_tag "tech_participation_#{tech.id}", u_options.html_safe, {:style => "width: 100%;", "data-id" => tech.id, :class => "tech_participation_template"}
        %td
          - u_options = ''
          - for i in 0.step(100, 0.5)
            - if tech.hours == i
              - u_options += "<option value=\"#{i}\" selected=\"selected\">#{i} horas</option>"
            - else 
              - u_options += "<option value=\"#{i}\">#{i} horas</option>"
          = select_tag "tech_hours_#{tech.id}", u_options.html_safe, {:style => "width: 100%;", "data-id" => tech.id, :class => "tech_hours_template"}
        %td
          .align-right= number_to_currency(tech.user.hourly_wage)
        %td
          .align-right= number_to_currency(tech_cost)
    - if @requested_service.requested_service_technicians.count > 0
      - if part_total != 100
        %tr.error
          %td{:colspan => 5}
            = "La suma de las participaciones no es 100%."
      %tr.total-row
        %td{:colspan => 4}
          .align-right= "Subtotal Personal Involucrado"
        %td
          .align-right= number_to_currency(tech_total)

    - if (techs.count > 0)
      - not_in =  "AND user_id NOT IN (#{(techs.join(','))})"
    - else
      - not_in = ""
    - members = LaboratoryMember.where("laboratory_id = #{@requested_service.laboratory_service.laboratory_id} #{not_in}")
    - u_options = ''
    - members.each do |m|
      - u_options += "<option value=\"#{m.user_id}\">#{m.user.full_name}</option>"
    - if u_options != ''
      %tr.add-row
        %td
          = select_tag :new_tech_user_id, u_options.html_safe, {:style => "width: 100%;"}

        %td 
          - u_options = ''
          - for i in (100 - part_total).downto(0)
            - u_options += "<option value=\"#{i}\">#{i}%</option>"
          = select_tag :new_tech_participation, u_options.html_safe, {:style => "width: 100%;"}
        %td
          - u_options = ''
          - for i in 0.step(100, 0.5)
            - u_options += "<option value=\"#{i}\">#{i} horas</option>"
          = select_tag :new_tech_hours, u_options.html_safe, {:style => "width: 100%;"}
        %td{:colspan => 2}
          %button.btn.btn-mini.btn-info#add-technician-template= "Agregar participante"
