.clearfix
#costeo
  = hidden_field_tag 'laboratory_service_id', @laboratory_service.id

  #technicians-template
    = render :partial => 'technicians', :locals => {:requested_service => @requested_service }

  #equipment-template
    = render :partial => 'equipment', :locals => {:requested_service => @requested_service }

  //#materials-template
  //  = render :partial => 'materials', :locals => {:requested_service => @requested_service }

  #others-template
    = render :partial => 'others', :locals => {:requested_service => @requested_service }

  #grand_total
    = "Total: "
    %span.grand_total_value= number_to_currency(@grand_total)

