- editable = @laboratory_service.is_catalog == LaboratoryService::SERVICE_FREE || (@laboratory_service.is_catalog == LaboratoryService::SERVICE_CATALOG && current_user.is_customer_service?)

%ul.nav.nav-tabs#admin-service-tabs
  %li.active#tab-service-details
    %a{:href => "#admin-service-details", "data-toggle" => "tab", "id" => "service_details_tab"}= "Datos Generales"
  %li#tab-service-costs
    %a{:href => "#admin-service-costs", "data-toggle" => "tab", "id" => "service_costs_tab"}= "Costeo"
  %li#tab-alertas
    %a{:href => "#admin-service-alertas", "data-toggle" => "tab", "id" => "service_costs_tab"}= "Alertas"


.tab-content
  #admin-service-details.tab-pane.active
    = form_for @laboratory_service, :remote => true, :html => {:'data-type' => 'html', :id => 'edit-laboratory-service-form'} do |f|
      .field#field_laboratory_service_name
        = f.label :name, 'Nombre:'
        - if editable
          = f.text_area :name, :class => 'form-control'
        - else 
          = @laboratory_service.name
      .field#field_laboratory_service_description
        = f.label :description, 'Descripción:'
        - if editable
          = f.text_area :description, :class => 'form-control'
        - else
          = @laboratory_service.description
      .field#field_laboratory_service_service_type_id
        = f.label :service_type_id, 'Tipo de Servicio:'
        - if editable
          - st_options = ''
          - ServiceType.order(:name).each do |item|
            - if item.id == @laboratory_service.service_type_id
              - sel = 'selected = "selected"'
            - else
              - sel = ''
            - st_options += "<option value=\"#{item.id}\" #{sel}>#{item.name}</option>"
          = f.select :service_type_id, st_options.html_safe, {}, {:class => 'form-control'}
        - else
          = @laboratory_service.service_type.name
      .field#field_laboratory_service_internal_cost
        = f.label :internal_cost, 'Costo Interno:'
        %span.grand_total_value= number_to_currency(@laboratory_service.internal_cost)
      - if current_user.is_customer_service?
        .field#field_laboratory_service_sale_price
          = f.label :sale_price, 'Precio de Venta:'
          = f.text_field :sale_price, :placeholder => 'Precio de Venta', :class => 'form-control'
        .field#field_laboratory_service_service_type_id
          = f.label :is_catalog, 'Servicio de Catálogo de Vinculación:'
          - st_options = ''
          - sel0 = ''
          - sel1 = ''
          - sel0 = 'selected="selected"' if @laboratory_service.is_catalog.to_i == 0
          - sel1 = 'selected="selected"' if @laboratory_service.is_catalog.to_i == 1 
          - st_options += "<option value=\"0\" #{sel0}>No</option>"
          - st_options += "<option value=\"1\" #{sel1}>Si</option>"
          = f.select :is_catalog, st_options.html_safe, {}, {:class => 'form-control'}
      - else
        - if @laboratory_service.is_catalog?
          .field#field_laboratory_service_sale_price
            = f.label :sale_price, 'Precio de Venta:'
            %span= number_to_currency(@laboratory_service.sale_price)
      .field#field_laboratory_service_service_type_id
        = f.label :is_exclusive_vinculacion, 'Servicio Exclusivo para Vinculación'
        - st_options = ''
        - sel0 = ''
        - sel1 = ''
        - sel0 = 'selected="selected"' if @laboratory_service.is_exclusive_vinculacion.to_i == 0
        - sel1 = 'selected="selected"' if @laboratory_service.is_exclusive_vinculacion.to_i == 1 
        - st_options += "<option value=\"0\" #{sel0}>No</option>"
        - st_options += "<option value=\"1\" #{sel1}>Si</option>"
        = f.select :is_exclusive_vinculacion, st_options.html_safe, {}, {:class => 'form-control'}

      .field#field_laboratory_service_status
        = f.label :status, 'Estado'
        - st_options = ''
        - sel0 = ''
        - sel1 = ''
        - sel0 = 'selected="selected"' if @laboratory_service.status.to_i == 0
        - sel1 = 'selected="selected"' if @laboratory_service.status.to_i == 1
        - st_options += "<option value=\"0\" #{sel0}>Activo</option>"
        - st_options += "<option value=\"1\" #{sel1}>Inactivo</option>"
        = f.select :status, st_options.html_safe, {}, {:class => 'form-control'}

      - if editable
        .submit-button
          = f.submit "Actualizar servicio", {:class => "btn btn-primary"}
    - if !editable 
      .alert.alert-info
        = "Servicio de Catálogo de Vinculación"
      .clearfix
  #admin-service-costs.tab-pane
  .clearfix
  #admin-service-alertas.tab-pane
    #alertas_laboratory_service
      = render :partial => 'alerts/alerts', :locals => {:alerts => @alerts, 
                                                        :from => 'laboratory_service',
                                                        :from_id => @laboratory_service.id,
                                                        :laboratory_service_id => @laboratory_service.id, 
                                                        :technician => 0, 
                                                        :equipment_id => 0}

