- editable = @laboratory_service.is_catalog == LaboratoryService::SERVICE_FREE || (@laboratory_service.is_catalog == LaboratoryService::SERVICE_CATALOG && current_user.is_customer_service?)

%ul.nav.nav-pills#admin-service-tabs
  %li.active#tab-service-details
    %a{:href => "#admin-service-details", "data-toggle" => "tab", "id" => "service_details_tab"}= "Editar"
  %li#tab-service-costs
    %a{:href => "#admin-service-costs", "data-toggle" => "tab", "id" => "service_costs_tab"}= "Costeo"
.clearfix


.tab-content
  #admin-service-details.tab-pane.active
    = form_for @laboratory_service, :remote => true, :html => {:'data-type' => 'html', :id => 'edit-laboratory-service-form'} do |f|
      .field#field_laboratory_service_name
        = f.label :name, 'Nombre:'
        - if editable
          = f.text_field :name, :placeholder => 'Nombre del servicio', :class => 'form-control'
        - else 
          = @laboratory_service.name
      .field#field_laboratory_service_description
        = f.label :description, 'Descripción:'
        - if editable
          = f.text_area :description, :class => 'form-control'
        - else
          = @laboratory_service.description
      .field#field_laboratory_service_service_type_id
        = f.label :service_type_id, 'Tipo de Servicio:'
        - if editable
          - st_options = ''
          - ServiceType.order(:name).each do |item|
            - if item.id == @laboratory_service.service_type_id
              - sel = 'selected = "selected"'
            - else
              - sel = ''
            - st_options += "<option value=\"#{item.id}\" #{sel}>#{item.name}</option>"
          = f.select :service_type_id, st_options.html_safe, {}, {:class => 'form-control'}
        - else
          = @laboratory_service.service_type.name
      - if current_user.is_customer_service?
        .field#field_laboratory_service_service_type_id
          = f.label :is_catalog, 'Servicio de Catálogo de Vinculación:'
          - st_options = ''
          - sel0 = ''
          - sel1 = ''
          - sel0 = 'selected="selected"' if @laboratory_service.is_catalog.to_i == 0
          - sel1 = 'selected="selected"' if @laboratory_service.is_catalog.to_i == 1 
          - st_options += "<option value=\"0\" #{sel0}>No</option>"
          - st_options += "<option value=\"1\" #{sel1}>Si</option>"
          = f.select :is_catalog, st_options.html_safe, {}, {:class => 'form-control'}

      - if editable
        .submit-button
          = f.submit "Actualizar servicio", {:class => "btn btn-primary"}
    - if !editable 
      .alert.alert-info
        = "Servicio de Catálogo de Vinculación"
      .clearfix
  #admin-service-costs.tab-pane
  .clearfix

