- @requested_service = RequestedService.new
= form_for @requested_service, :remote => true, :html => {:'data-type' => 'html', :id => 'new-requested-service-form'} do |f|
  = f.hidden_field :laboratory_service_id, {:value => @laboratory_service.id}
  = f.hidden_field :sample_id, {:value => @sample.id}
  %h1= @laboratory_service.name
  %p= @laboratory_service.description
  %p
    %strong= "Laboratorio: "
    = "#{@laboratory_service.laboratory.name}"
  %p
    %strong= "Técnico Sugerido: "
    - members = LaboratoryMember.where(:laboratory_id => @laboratory_service.laboratory_id)
    - sug_options = "<option value=\"\">Cualquier Técnico</option>"
    - members.each do |m|
      - sug_options += "<option value=\"#{m.user_id}\">#{m.user.full_name}</option>"
    = f.select "suggested_user_id", sug_options.html_safe

  #field_requested_service_details
    %div
      %strong= "Anotaciones particulares:"
    = f.text_area :details

  #service-detail-submit-area
    = f.submit "Agregar servicio"
