- @requested_service = RequestedService.new
= form_for @requested_service, :remote => true, :html => {:'data-type' => 'html', :id => 'new-requested-service-form'} do |f|
  = f.hidden_field :laboratory_service_id, {:value => @laboratory_service.id}
  = f.hidden_field :sample_id, {:value => @sample.id}
  .add-service-laboratory= @laboratory_service.laboratory.name
  .add-service-title{"title" => @laboratory_service.description}= @laboratory_service.name

  .add-service-field
    = f.label :suggested_user_id, "Técnico Sugerido: ", {:class => 'control-label'}
    .controls
      - sug_options = "<option value=\"\">Cualquier Técnico</option>"
      - LaboratoryMember.where("laboratory_id = :lab AND access <> :a", {:lab => @laboratory_service.laboratory_id, :a => LaboratoryMember::ACCESS_TRAINED}).each do |sug|
        - sug_options += "<option value=\"#{sug.user.id}\">#{sug.user.full_name}</option>"
      - if LaboratoryMember.where("laboratory_id = :lab AND access = :a AND user_id = :u", {:lab => @laboratory_service.laboratory_id, :a => LaboratoryMember::ACCESS_TRAINED, :u => current_user.id}).count == 1
        - sug_options += "<option value=\"#{current_user.id}\">#{current_user.full_name} (Facultado)</option>"
      = f.select "suggested_user_id", sug_options.html_safe
  
  .add-service-field
    = f.label :details, "Detalles: ", {:class => 'control-label'}
    .controls
      = f.text_area :details, {:class => 'input-xlarge', :style => 'height: 100px;'}
