.media.write-message
  %a.pull-left{:href => '#'}
    = image_tag ("http://cimav.edu.mx/foto/#{current_user.email.split('@')[0]}/48"), :class => "media-object img-circle"
  .media-body
    = form_for ActivityLog.new, :remote => true, :html => {:'data-type' => 'html', :id => 'new-activity-log-form'} do |f|
      = f.hidden_field :service_request_id, {:value => service_request_id}
      = f.hidden_field :sample_id, {:value => sample_id}
      = f.hidden_field :requested_service_id, {:value => requested_service_id}
         
      = f.hidden_field :message_type, {:value => 'USER'}
      .activity-textarea
        = f.text_area :message, :placeholder => 'Escribe aquí tu mensaje'
      = f.submit "Enviar", :class => "btn btn-info"
%ul.media-list
  - activity_log.each do |activity|
    - if activity.user.is_customer_service?
      - item_class = 'customer-service-msg'
    - else 
      - item_class = 'normal-msg'
    %li.media.activity-message{:class => item_class}
      %a.pull-left{:href => '#'}
        = image_tag ("http://cimav.edu.mx/foto/#{activity.user.email.split('@')[0]}/48"), :class => "media-object img-circle"
      .media-body
        %h4.media-heading
          = activity.user.full_name 
          %span.timestamp= date_text(activity.created_at)
        - if activity.message_type == 'CLIENT_FILE'
          = activity.message.html_safe
        - else
          = activity.message
