= form_for Alert.new, :remote => true, :html => {:'data-type' => 'html', :id => 'new-alert-form'} do |f|
  = f.hidden_field :laboratory_service_id, {:value => laboratory_service_id}
  = f.hidden_field :equipment_id, {:value => equipment_id}
  = f.hidden_field :technician, {:value => technician}
  = f.hidden_field :message_type, {:value => message_type}
  #alert-form{:style => 'padding-right: 20px; padding-top: 20px;'}
    .panel.panel-default
      .panel-heading
        %h3.panel-title= "Nueva alerta"
      .panel-body
        .row
          .col-sm-12
            =f.text_area :message, :rows=>2, :placeholder => 'Escribe aquí tu alerta', :class => 'form-control'
            %br
            =f.submit "Agregar alerta", :class => "btn btn-info"

    %table.table.table-bordered{:style => 'width: 100%;'}
      %tr
        %th= "Alerta"
        %th= "Estado"
        %th.dates= "Inicio"
        %th.dates= "Fin"
        %th= "Reporta"
      - alerts.each do |k,alert|
        %tr
          %td
            %span.glyphicon.glyphicon-warning-sign{:style => 'color: #fb0;'}
            = alert.message
          %td
            = alert.status_text
            - if alert.status == Alert::OPEN
              .resolve-area
                = link_to "Marcar como resuelta", {:controller => "alerts", :action => "resolve", :id => alert.id, :from_id => from_id, :from => from, :remote => true}, :method => 'post', :class => 'resolve-link', data: { confirm: "¿Estas seguro de marcar como resuelta esta alerta?" }

          %td= date_text(alert.start_date)
          %td= date_text(alert.end_date)
          %td
            = alert.user.full_name
            .meta= date_text(alert.created_at)
    