- sel_details = sel_users = sel_services = ''
- sel_details = 'active' if option_selected == 'details'
- sel_users = 'active' if option_selected == 'users'
- sel_services = 'active' if option_selected == 'services'
- sel_equipment = 'active' if option_selected == 'equipment'
- sel_substances = 'active' if option_selected == 'substances'
- sel_classifications = 'active' if option_selected == 'classifications'
- sel_images = 'active' if option_selected == 'images'
#admin-lab-tabs
  %ul.nav.nav-tabs
    %li{:class => sel_details}= link_to "Detalles", {:controller => 'laboratory', :action => 'admin', :id => laboratory.id}, :method => :get, :remote => true, :class => 'admin-lab', :'data-type' => 'html', 'data-laboratory-id' => laboratory.id
    %li{:class => sel_services}= link_to "Servicios que ofrece", {:controller => 'laboratory', :action => 'admin_services', :id => laboratory.id}, :method => :get, :remote => true, :class => 'admin-services', :'data-type' => 'html', 'data-laboratory-id' => laboratory.id
    %li{:class => sel_users}= link_to "Usuarios", {:controller => 'laboratory', :action => 'admin_members', :id => laboratory.id}, :method => :get, :remote => true, :class => 'admin-users', :'data-type' => 'html', 'data-laboratory-id' => laboratory.id
    %li{:class => sel_equipment}= link_to "Equipo", {:controller => 'laboratory', :action => 'admin_equipment', :id => laboratory.id}, :method => :get, :remote => true, :class => 'admin-equipment', :'data-type' => 'html', 'data-laboratory-id' => laboratory.id
    %li{:class => sel_substances}= link_to "Sustancias", {:controller => 'laboratory', :action => 'admin_substances', :id => laboratory.id}, :method => :get, :remote => true, :class => 'admin-substances', :'data-type' => 'html', 'data-laboratory-id' => laboratory.id
    %li{:class => sel_images}= link_to "Imágenes", {:controller => 'laboratory', :action => 'admin_images', :id => laboratory.id}, :method => :get, :remote => true, :class => 'admin-images', :'data-type' => 'html', 'data-laboratory-id' => laboratory.id
    %li{:class => sel_classifications}= link_to "Clasificadores", {:controller => 'laboratory', :action => 'admin_classifications', :id => laboratory.id}, :method => :get, :remote => true, :class => 'admin-classifications', :'data-type' => 'html', 'data-laboratory-id' => laboratory.id

