#admin-area 
  = render :partial => 'tabs', :locals => {:laboratory => @laboratory, :option_selected => 'services'}
  #services-panel
    #services-search-panel
      = form_tag laboratory_services_path, :id => 'admin-lab-services-live-search', :method => 'get', :remote => true, :lab_id => @laboratory.id do
        - service_type_options = "<option value=\"0\">Todos los tipos</option>"
        - service_types = ServiceType.order('name')
        - service_types.each do |st|
          - service_type_options += "<option value=\"#{st.id}\">#{st.name}</option>"
        = select_tag "admin_lab_service_type", service_type_options.html_safe
        = text_field_tag :q, nil, :id => 'admin-lab-services-search-box', :placeholder => 'Busqueda'
    #admin-lab-services-list
    #admin-lab-services-buttons
      = button_tag "Agregar nuevo servicio", {:class => 'btn btn-info', :id => 'add-new-service-button', :lab_id => @laboratory.id}
      = link_to "Descargar catálogo", "/laboratory/#{@laboratory.id}/services_catalog.xls"
  
  %ul.nav.nav-pills#admin-service-tabs
    %li.active#tab-service-details
      %a{:href => "#admin-service-details", "data-toggle" => "tab", "id" => "service_details_tab"}= "Editar"
    %li#tab-service-costs
      %a{:href => "#admin-service-costs", "data-toggle" => "tab", "id" => "service_costs_tab"}= "Costeo"

  .tab-content
    #admin-service-details.tab-pane.active
    #admin-service-costs.tab-pane

:javascript 
  $(function() {
    adminLabServicesLiveSearch()
  })
