- @requested_services.each do |rs|
  .requested_service.lab-req-serv-item{:requested_service_id => rs.id, :sample_id => rs.sample_id, :id => "requested_service_#{rs.id}"}
    .rs-consecutive{:class => "status_#{rs.status}"}
      = rs.number
    .sample-requested-service
      = rs.laboratory_service.name
    .sample-identificator
      = rs.sample.identification
    .sample-description
      = rs.sample.description
