- @requested_services.each do |rs|
  - next if !rs.sample.service_request
  - next if rs.sample.service_request.status == ServiceRequest::DELETED
  .requested-service.lab-req-serv-item{'data-number' => rs.number, 'data-requested-service-id' => rs.id, 'data-sample-id' => rs.sample_id, 'data-laboratory-id' => rs.laboratory_service.laboratory_id, :id => "requested_service_#{rs.id}"}
    .rs-header
      .rs-type{:class => "label_#{rs.sample.service_request.request_type.short_name}"}= rs.sample.service_request.request_type.name
      .rs-status{:class => "bg-#{rs.status_class}"}= rs.status_text
      .rs-number= rs.number  
      .rs-date= date_text(rs.created_at)
    %table.rs-area
      %tr
        %td.rs-user
          .avatar
            = image_tag (rs.sample.service_request.user.avatar_url), :class => 'img-circle'
          .full-name= rs.sample.service_request.user.full_name
        %td.rs-data
          .rs-name
            = rs.laboratory_service.name
          - if rs.sample.service_request.request_type_id == ServiceRequest::SERVICIO_VINCULACION || rs.sample.service_request.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO
            .rs-client
              %strong= "Cliente: "
              = rs.sample.service_request.vinculacion_client_name
          .rs-sample
            .rs-sample-identification
              %strong= "Muestra: "
              = rs.sample.identification
            - if rs.sample.quantity > 1
              %strong= "Cantidad: "
              .quantity= "#{rs.sample.quantity} muestras"
            - else
              %strong= "Cantidad: "
              .quantity= "#{rs.sample.quantity} muestra"
          = render :partial => 'service_requests/vinculacion_dates', :locals => {:request => rs.sample.service_request}
      
    .clearfix
  
