- @requested_services.each do |rs|
  - next if !rs.sample_service_request
  - next if rs.service_request_status == ServiceRequest::DELETED
  .requested-service.lab-req-serv-item{'data-number' => rs.number, 'data-requested-service-id' => rs.id, 'data-sample-id' => rs.sample_id, 'data-laboratory-id' => rs.laboratory_id, :id => "requested_service_#{rs.id}"}
    .rs-header
      .rs-type{:class => "label_#{rs.request_type_short_name}"}= rs.request_type_name
      .rs-status{:class => "bg-#{RequestedService::STATUS_CLASS[rs.status.to_i]}"}= RequestedService::STATUS[rs.status.to_i]
      .rs-number= rs.service_request_number  
      .rs-date
        = "Creado: "
        = date_text(rs.created_at)
        - if !rs.results_date.blank?
          %span.results-date

            - if rs.status.to_i == RequestedService::RECEIVED || rs.status.to_i == RequestedService::ASSIGNED || rs.status.to_i == RequestedService::IN_PROGRESS || rs.status.to_i == RequestedService::SUSPENDED
              %strong= "Entrega programada: "
              = "#{date_text(rs.results_date)},"
              - days = (rs.results_date - Date.today).to_i
              - if days == 0
                %span.deliver-today= ' entregar hoy'
              - elsif days > 0
                %span.deliver-ontime= " faltan #{days} días"
              - else
                %span.deliver-delayed= " retraso de #{days * -1} días"
            - elsif rs.status.to_i == RequestedService::FINISHED || rs.status.to_i == RequestedService::CONFIRMED
              %strong= "Entrega programada: "
              = "#{date_text(rs.results_date)}, "
              %strong= "Entregado: "
              = "#{date_text(rs.finished_date)}, "
              - days = (rs.results_date - rs.finished_date.to_date).to_i
              - if days < 0
                %span.deliver-delayed= " retraso de #{days * -1} días"
              

    %table.rs-area
      %tr
        %td.rs-user
          .avatar
            - avatar_url = "http://cimav.edu.mx/foto/#{rs.email.split('@')[0]}/64" rescue 'http://cimav.edu.mx/foto/desconocido/64'
            = image_tag (avatar_url), :class => 'img-circle'
          .full-name= "#{rs.first_name} #{rs.last_name}" 
        %td.rs-data
          .rs-name
            = rs.laboratory_service_name
          - if rs.request_type_id == ServiceRequest::SERVICIO_VINCULACION || rs.request_type_id == ServiceRequest::SERVICIO_VINCULACION_NO_COORDINADO
            .rs-client
              %strong= "Cliente: "
              = rs.vinculacion_client_name
          .rs-sample
            .rs-sample-identification
              %strong= "Muestra: "
              = rs.sample_identification
            - if rs.sample_quantity > 1
              %strong= "Cantidad: "
              .quantity= "#{rs.sample_quantity} muestras"
            - else
              %strong= "Cantidad: "
              .quantity= "#{rs.sample_quantity} muestra"

          - if (rs.system_status == ServiceRequest::SYSTEM_FREE && rs.vinculacion_end_date) || rs.system_status == ServiceRequest::SYSTEM_ACCEPTED || rs.system_status == ServiceRequest::SYSTEM_SAMPLES_DELIVERED || rs.system_status == ServiceRequest::SYSTEM_PARTIAL_FINISHED ||  rs.system_status == ServiceRequest::SYSTEM_ALL_FINISHED || rs.system_status == ServiceRequest::SYSTEM_REPORT_SENT || rs.system_status == ServiceRequest::SYSTEM_IN_PROGRESS
            - if rs.vinculacion_end_date
              .vinculacion-end-date
                - days = (rs.vinculacion_end_date - rs.vinculacion_start_date).to_i
                - days = 1 if days <= 0
                - current_days = (rs.vinculacion_end_date - Time.now.to_date).to_i
                - percentage = (days - current_days) * 100 / days
                - percentage = 100 if percentage >= 100
                - if current_days == 0
                  - klass = 'progress-bar-danger pulsate_today'
                  - faltan = "Debe entregarse hoy"
                  - percentage_msg = "HOY"
                - elsif current_days < 0
                  - klass = 'progress-bar-danger'
                  - faltan = "Retraso de #{(current_days * -1)} días"
                  - percentage_msg = "RETRASO"
                - elsif percentage > 80
                  - klass = 'progress-bar-warning'
                  - faltan = "Faltan #{current_days} días"
                  - percentage_msg = "#{percentage}%"
                - else
                  - klass = 'progress-bar-success'
                  - faltan = "Faltan #{current_days} días"
                  - percentage_msg = "#{percentage}%"
                
                - if rs.system_status == ServiceRequest::SYSTEM_REPORT_SENT
                  - klass = 'progress-bar-success'
                  - faltan = 'Reporte entregado'
                  - percentage = 100
                  - percentage_msg = "ENTREGADO"
                
                - if rs.system_status == ServiceRequest::SYSTEM_NOT_ACCEPTED
                  - klass = 'progress-bar-warning'
                  - faltan = 'No acepto cliente'
                  - percentage = 100
                  - percentage_msg = "NO ACEPTADO"

                - if rs.system_status == ServiceRequest::SYSTEM_CANCELED
                  - klass = 'progress-bar-danger'
                  - faltan = 'Cancelado'
                  - percentage = 100
                  - percentage_msg = "CANCELADO" 


                .vin_start
                  %span.glyphicon.glyphicon-calendar
                  = "Inicio:"
                  = l rs.vinculacion_start_date, format: :short
                .vin_end
                  %span.glyphicon.glyphicon-calendar
                  = "Entregar:"
                  = l rs.vinculacion_end_date, format: :short
                .vin_end.tooltip-fecha-limite{:title => "Fecha límite para ejercer presupuesto"}
                  %span.glyphicon.glyphicon-calendar
                  = "Presupuesto:"
                  = l rs.vinculacion_end_date + 10.days, format: :short
                .delivery
                  %span.glyphicon.glyphicon-time
                  = faltan
                .priority
                  %span.glyphicon.glyphicon-tasks
                  = "Prioridad:"
                  = rs.vinculacion_delivery
                .progress
                  .progress-bar{'class' => klass,:role => 'progressbar', 'aria-valuenow' => percentage, 'aria-valuemin' => "0", 'aria-valuemax' => "100", :style => "width:#{percentage}%"}
                    = "#{percentage_msg}"
      
    .clearfix
  
