= form_for @laboratory_service, :remote => true, :html => {:'data-type' => 'html', :id => 'new-laboratory-service-form'} do |f|
  %h3= "Nuevo Servicio de Laboratorio"
  = f.hidden_field :laboratory_id, {:value => @laboratory.id}
  .field#field_laboratory_service_name
    = f.label :name, 'Nombre:'
    = f.text_field :name, :placeholder => 'Nombre del servicio', :class => 'form-control'
  .field#field_laboratory_service_description
    = f.label :description, 'Descripción:'
    = f.text_area :description, :class => 'form-control'
  .field#field_laboratory_service_service_type_id
    = f.label :service_type_id, 'Tipo de Servicio:'
    - st_options = ''
    - ServiceType.order(:name).each do |item|
      - if item.id == @laboratory_service.service_type_id
        - sel = 'selected = "selected"'
      - else
        - sel = ''
      - st_options += "<option value=\"#{item.id}\" #{sel}>#{item.name}</option>"
    = f.select :service_type_id, st_options.html_safe, {}, {:class => 'form-control'}
  .submit-button
    = f.submit "Crear servicio", {:class => "btn btn-primary"}
