#reports-area 
  #lab-report-list
    %ul.nav.nav-pills.nav-stacked
      %li{:class => 'presentation'}= link_to "Reporte General", {:controller => 'laboratory', :action => 'reports_general', :id => @laboratory.id}, :method => :get, :remote => true, :class => 'reports-general-lab', :'data-type' => 'html', :id => "reports-general-lab-#{@laboratory.id}", 'data-laboratory-id' => @laboratory.id
      %li{:class => 'presentation'}= link_to "Reporte Finalizados Vinculación", {:controller => 'laboratory', :action => 'report_vinculacion', :id => @laboratory.id}, :method => :get, :remote => true, :class => 'report-vinculacion-lab', :'data-type' => 'html', :id => "report-vinculacion-lab-#{@laboratory.id}", 'data-laboratory-id' => @laboratory.id
      %li{:class => 'presentation'}= link_to "Reporte Uso de Equipo", {:controller => 'laboratory', :action => 'report_equipment', :id => @laboratory.id}, :method => :get, :remote => true, :class => 'report-equipment', :'data-type' => 'html', :id => "report-eq-lab-#{@laboratory.id}", 'data-laboratory-id' => @laboratory.id
  #lab-report-area
  
