#lab-report-options
  .row
    .col-md-4
      = "Inicio"
      %input{:type => 'date', :class => 'form-control', :id => 'start-date', :name => 'start-date', :value => @start_date}
    .col-md-1
    .col-md-4
      = "Fin"
      %input{:type => 'date', :class => 'form-control', :id => 'end-date', :name => 'end-date', :value => @end_date}
    .col-md-3
      %br
      %btn#report_general_generate.btn.btn-primary{:laboratory_id => @laboratory.id}= "Generar reporte"
#lab-report-area-inner

  %table.table.table-striped
    %thead 
      %tr
        %th= "Fecha"
        %th= "Código"
        %th= "Servicio"
        %th= "Tipo"
        %th= "Carpeta"
        %th= "Solicitante"
        %th= "Muestra"
        %th= "Cant."
        %th= "Técnico Asignado"
        %th= "Estado"
    %tbody
      - @requested_services.each do |rs|
        %tr
          %td= rs.created_at
          %td= rs.number
          %td= rs.laboratory_service.name
          %td= rs.service_request.request_type.name rescue 'Sin tipo'
          %td= "#{rs.service_request.number}: #{rs.service_request.request_link}" rescue 'Sin carpeta'
          %td= rs.service_request.user.full_name rescue 'Sin solicitante'
          %td= rs.sample.identification rescue 'Sin muestra'
          %td= rs.sample.quantity rescue ''
          %td= rs.user.full_name rescue 'No asignado'
          %td= rs.status_text
      %tr
        %th{:colspan => 9}= "#{@requested_services.count} registros"
      
