#laboratory-bar.workarea-bar
  %h2= @laboratory.name
#laboratory-workarea
  #lab-req-serv-panel.side-panel
    .panel-search
      = form_tag '/samples', :id => 'lab-req-serv-live-search', :laboratory_id => @laboratory.id, :method => 'get', :remote => true do
        = text_field_tag :q, nil, :id => 'req-serv-search-box', :placeholder => 'Busqueda'

        - status_options = "<option value=\"0\">Todos los estados</option>"
        - sts = [-1,1,2,3,4,5,6,99]
        - sts.each do |st| 
          - status_options += "<option value=\"#{st}\">#{RequestedService::STATUS[st]}</option>"
        = select_tag "lrs_status", status_options.html_safe

        - requestor_options = "<option value=\"0\">Todos los solicitantes</option>"
        - User.order('first_name, last_name').each do |u|
          - requestor_options += "<option value=\"#{u.id}\">#{u.full_name}</option>"
        = select_tag "lrs_requestor", requestor_options.html_safe
  
        - assigned_to_options = "<option value=\"0\">Cualquier asignado</option>"
        - assigned_to_options += '<optgroup label="Personal">'
        - @laboratory.laboratory_members.where("access <> :a", {:a => LaboratoryMember::ACCESS_TRAINED}).each do |assigned_to|
          - assigned_to_options += "<option value=\"#{assigned_to.user.id}\">#{assigned_to.user.full_name}</option>" 
        - if @laboratory.laboratory_members.where("access = :a", {:a => LaboratoryMember::ACCESS_TRAINED}).count > 0
          - assigned_to_options += '<optgroup label="Capacitados">'
          - @laboratory.laboratory_members.where("access = :a", {:a => LaboratoryMember::ACCESS_TRAINED}).each do |assigned_to|
            - assigned_to_options += "<option value=\"#{assigned_to.user.id}\">#{assigned_to.user.full_name}</option>" 
        = select_tag "lrs_assigned_to", assigned_to_options.html_safe

  #lab-req-serv-list.panel-items

  #lab-main-panel.main-panel
    #lab-req-serv-workarea
      #requested-service-workarea

:javascript
  $(function() {
    labReqServicesLiveSearch()
  })
