- lab_access = @laboratory.laboratory_members.where(:user_id => current_user.id).first.access rescue 0
- if lab_access.to_i == 0
  - raise "Error: No es miembro de este laboratorio"
#laboratory-bar.workarea-bar
  %h2= @laboratory.name
#laboratory-workarea
  #lab-req-serv-panel.side-panel
    .panel-search
      = form_tag '/samples', :id => 'lab-req-serv-live-search', :laboratory_id => @laboratory.id, :method => 'get', :remote => true do
        = text_field_tag :q, nil, :id => 'req-serv-search-box', :placeholder => 'Busqueda'

        - status_options = "<option value=\"0\">Todos los estados</option>"
        - sts = [-1,1,2,3,4,5,6,99]
        - sts.each do |st| 
          - status_options += "<option value=\"#{st}\">#{RequestedService::STATUS[st]}</option>"
        = select_tag "lrs_status", status_options.html_safe

        - requestor_options = "<option value=\"0\">Todos los solicitantes</option>"
        - User.find_by_sql("SELECT DISTINCT u.id, u.first_name, u.last_name FROM Users u INNER JOIN service_requests sr ON sr.user_id = u.id INNER JOIN samples sam ON sam.service_request_id = sr.id INNER JOIN requested_services rs ON sam.id = rs.sample_id INNER JOIN laboratory_services ls ON laboratory_service_id = ls.id WHERE laboratory_id = #{@laboratory.id} ORDER BY first_name, last_name").each do |u|
          - requestor_options += "<option value=\"#{u.id}\">#{u.first_name} #{u.last_name}</option>"

        = select_tag "lrs_requestor", requestor_options.html_safe
        - if lab_access.to_i == LaboratoryMember::ACCESS_ADMIN
          - assigned_to_options = "<option value=\"0\">Cualquier asignado</option>"
          - assigned_to_options += '<optgroup label="Personal">'
          - @laboratory.laboratory_members.where("access <> :a", {:a => LaboratoryMember::ACCESS_TRAINED}).each do |assigned_to|
            - assigned_to_options += "<option value=\"#{assigned_to.user.id}\">#{assigned_to.user.full_name}</option>" 
          - if @laboratory.laboratory_members.where("access = :a", {:a => LaboratoryMember::ACCESS_TRAINED}).count > 0
            - assigned_to_options += '<optgroup label="Facultados">'
            - @laboratory.laboratory_members.where("access = :a", {:a => LaboratoryMember::ACCESS_TRAINED}).each do |assigned_to|
              - assigned_to_options += "<option value=\"#{assigned_to.user.id}\">#{assigned_to.user.full_name}</option>" 
        - if lab_access.to_i == LaboratoryMember::ACCESS_MEMBER 
          - assigned_to_options = "<option value=\"#{current_user.id}\">#{current_user.full_name}</option>" 
        - if lab_access.to_i == LaboratoryMember::ACCESS_TRAINED
          - assigned_to_options = "<option value=\"#{current_user.id}\">#{current_user.full_name}</option>" 
        = select_tag "lrs_assigned_to", assigned_to_options.html_safe

  #lab-req-serv-list.panel-items

  #lab-main-panel.main-panel
    #lab-req-serv-workarea
      #requested-service-workarea

:javascript
  $(function() {
    labReqServicesLiveSearch()
  })
