= form_for [@equipment, @maintenance], :remote => true, :html => {:'data-type' => 'html', :id => 'edit-maintenance-form'} do |f|
  %h3= "Programar mantenimiento"

  .field#field_maintenance_expected_date
    = f.label :expected_date, 'Fecha estimada:'
    = f.date_field :expected_date, {:class => 'form-control'} 

  .field#field_maintenance_name
    = f.label :name, 'Descripción:'
    = f.text_field :name, {:class => 'form-control', :placeholder => 'Descripción corta'} 

  .field#field_maintenance_description
    = f.label :description, 'Detalles:'
    = f.text_area :description, {:class => 'form-control', :rows => 10}

  .field#field_maintenance_provider_id
    = f.label :provider_id, 'Proveedor:'
    - prov_options = ''
    - Provider.order('name').each do |prov|
      - prov_options += "<option value=\"#{prov.id}\">#{prov.name}</option>"
    = f.select :provider_id, prov_options.html_safe, {}, :class => 'form-control maintenance-provider-combo'


  .field#field_maintenance_status
    = f.label :provider_id, 'Estado:'
    = f.select :status, Maintenance::STATUS_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0}, {}, :class => 'form-control maintenance-provider-combo'

  - if @maintenance.status.to_i == Maintenance::STATUS_DONE
    - man_hidden = 'man-show'
  - else
    - man_hidden = 'man-hidden'
  .field#field_maintenance_real_date
    #man-show{:class => man_hidden}
      = f.label :real_date, 'Fecha:'
      = f.date_field :real_date, {:class => 'form-control'} 

  .submit-button
    = f.submit "Actualizar mantenimiento", {:class => "btn btn-primary"}

%br
%br
%a.back-maintenance{"data-id" => @maintenance.id, "data-eq-id" => @maintenance.equipment_id}= "Regresar"