= form_for [@equipment, @maintenance], :remote => true, :html => {:'data-type' => 'html', :id => 'new-maintenance-form'} do |f|
  %h3= "Programar mantenimiento"

  .field#field_maintenance_expected_date
    = f.label :expected_date, 'Fecha estimada:'
    = f.date_field :expected_date, {:class => 'form-control'} 

  .field#field_maintenance_name
    = f.label :name, 'Descripción:'
    = f.text_field :name, {:class => 'form-control', :placeholder => 'Descripción corta'} 

  .field#field_maintenance_description
    = f.label :description, 'Detalles:'
    = f.text_area :description, {:class => 'form-control', :rows => 10}

  .field#field_maintenance_provider_text
    = f.label :provider_text, 'Proveedor:'
    = f.text_field :provider_text, {:class => 'form-control', :placeholder => 'Nombre del proveedor'} 

  .submit-button
    = f.submit "Programar mantenimiento", {:class => "btn btn-primary"}