%table.maintenance-header
  %tr
    %td
      %h4
        = @maintenance.name 
        %span.badge.badge-secondary.badge-info= @maintenance.status_text
      %p
        %strong= "Fecha programada: "
        = @maintenance.expected_date

      - if @maintenance.real_date 
        %p
          %strong= "Fecha de mantenimiento: "
          = @maintenance.real_date

      %p= @maintenance.description
    %td
      %a.btn.btn-primary.btn-edit-maintenance{"data-id" => @maintenance.id, "data-eq-id" => @maintenance.equipment_id}= "Actualizar"

#activity_log.maintenance-log
  = render :partial => 'activity_log/activity_log', :locals => {:activity_log => @maintenance.activity_log, 
                                                                      :service_request_id => -1, 
                                                                      :sample_id => -1, 
                                                                      :requested_service_id => -1,
                                                                      :maintenance_id => @maintenance.id}


%br
%br
%a.back-maintenances{"data-eq-id" => @maintenance.equipment_id}= "Regresar al listado de mantenimientos del equipo"
