%ul
  - @material.each do |material|
    %li.material-item.item{"data-id" => material.id}
      .material-item-name{:id => "material_display_#{material.id}"}= "#{material.name} (#{material.unit.name})"
.items-counter
  .items-counter-inner
    = "#{@material.count} consumibles"