!!!
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %div{:style => "background-color: #ccc; padding: 20px;"}
      %div{:style => "background-color: #eee; padding: 20px; border-bottom: 1px solid #ddd;"}
        %table
          %tbody
            %tr
              -if @service_request.user.present?		
                %td{:style => "width: 120px; text-align: center;"}
                  = image_tag ("http://cimav.edu.mx/foto/#{@service_request.user.email.split('@')[0]}/100"), :style => "border-radius: 50em; -webkit-border-radius: 50em; -moz-border-radius: 50em;"
                %td
                  %h2{:style => "margin-bottom: 2px;"}= @service_request.user.full_name
                  = mail_to @service_request.user.email, @service_request.user.email, :subject =>  "[R] Solicitud #{@service_request.number}"
               -else
                 %td
                   %h2{:style => "margin-bottom: 2px;"} Sin responsable

      %div{:style => "background-color: #ffffff; padding: 20px; padding-bottom: 60px;"}
        %table
          %tr
            %td{:style => "min-width: 400px;"}
              %h2{:style => "font-size: 18px;"}= "Solicitud de presupuesto #{@service_request.number}"
              %table
                %tbody
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Agente vinculaci칩n:"
                    %td= @service_request.supervisor.full_name
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Fecha de solicitud:"
                    %td= l @service_request.created_at, :format => :long
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Cliente:"
                    %td= @service_request.vinculacion_client_name
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Inicia:"
                    %td= @service_request.vinculacion_start_date
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Termina:"
                    %td= @service_request.vinculacion_end_date
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Presupuestal:"
                    %td= (@service_request.vinculacion_end_date + 10.days)
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Faltan:"
                    %td= (@service_request.vinculacion_end_date - Time.now.to_date).to_i
                  %tr
                    %th{:style => "vertical-align: top; text-align: left;"}= "Prioridad:"
                    %td= @service_request.vinculacion_delivery

      %div{:style => "background-color: #888; padding: 20px; color: #eee;"}
        %strong{:style => "margin-top: 8px; margin-left: 10px; color: #eee; font-size: 11px;"}
        = "Mensaje enviado autom치ticamente desde "
        %strong= "Bit치cora Electr칩nica"
