- editable = true

%table.table.table-striped
  %thead
    - if project_quote.project_quote_technicians.count > 0
      %tr
        %th= "Nombre"
        %th= "Horas"
        %th= "Costo x Hora"
        %th= "Subtotal"
        %th
  %tbody
    - tech_total = 0
    - techs = []
    - if project_quote.project_quote_technicians.count == 0
      %tr.empty-cost
        %td{:colspan => 5}= "Sin personal"
    - project_quote.project_quote_technicians.each do |tech|
      - tech_cost = tech.hours * tech.hourly_wage rescue 0
      - tech_total = tech_total + tech_cost rescue 0
      - techs << tech.user_id
      %tr.technician-row{'data-id' => tech.id, :id => "technician_row_#{tech.id}"}
        %td
          = tech.user.full_name
          - if !tech.details.blank?
            .tech-details= tech.details
        %td
          - if editable
            

            .input-group
              %span.input-group-btn
                %button{:type => "button", :class => "btn btn-default btn-number", "data-type" => "minus", "data-field" => "tech_hours_#{tech.id}"}
                  %span{:class => "glyphicon glyphicon-minus"}
              %input{:type => "text", :id => "tech_hours_#{tech.id}", :name => "tech_hours_#{tech.id}", :class => "pq_tech_hours form-control input-number", :value => "#{tech.hours}", "data-id" => tech.id, 'data-pq_id' => project_quote.id}
              %span{:class => "input-group-btn"}
                %button{:type => "button", :class => "btn btn-default btn-number", "data-type" => "plus", "data-field" => "tech_hours_#{tech.id}"}
                  %span{:class => "glyphicon glyphicon-plus"}
          - else
            .align-right= "#{tech.hours} horas" 
        %td
          .align-right= number_to_currency(tech.hourly_wage)
        %td
          .align-right= number_to_currency(tech_cost)
        %td
          - if editable
            = link_to '×', {:controller => 'project_quotes', :action => 'delete_tech', :tech_id => tech.id}, :method => :post, :remote => true, :class => 'close', :'data-type' => 'html', 'data-id' => tech.id
    - if editable
      - if (techs.count > 0)
        - not_in =  "AND id NOT IN (#{(techs.join(','))})"
      - else
        - not_in = ""

      - users = User.where("(access = #{User::ACCESS_EMPLOYEE} OR access = #{User::ACCESS_ADMIN}) #{not_in} AND id IN (SELECT DISTINCT user_id FROM  laboratory_members WHERE status = 1)").order(:first_name, :last_name)
      - u_options = ''
      - users.each do |u|
        - u_options += "<option value=\"#{u.id}\">#{u.full_name}</option>"
    - if u_options != '' && editable
      %tr.add-row
        %td
          = select_tag :new_tech_user_id, u_options.html_safe, {:class => 'pq_tech_id form-control input-sm'}
        %td
          .input-group
            %span.input-group-btn
              %button{:type => "button", :class => "btn btn-default btn-number", :disabled =>"disabled", "data-type" => "minus", "data-field" => "tech_hours"}
                %span{:class => "glyphicon glyphicon-minus"}
            %input{:type => "text", :id => "tech_hours", :name => "tech_hours", :class => "form-control input-number", :value => "1"}
            %span{:class => "input-group-btn"}
              %button{:type => "button", :class => "btn btn-default btn-number", "data-type" => "plus", "data-field" => "tech_hours"}
                %span{:class => "glyphicon glyphicon-plus"}
              
        %td{:colspan => 3}
          %button.btn.btn-primary.btn-sm.btn-block#add-project-quote-technician{'data-pq_id' => project_quote.id }= "Agregar"


:javascript
  $(document).ready(function(){
    $('.pq_tech_id').select2();
  });
  $("#tech_total").html("#{number_to_currency(tech_total)}");

