:javascript

  var zipTimer;

  $(document).on('click', '#zip-link', function() {
    sample_id = $(this).attr('data-sample-id');
    url = '/service_files/zip_ready/' + sample_id;
    $.get(url, {}, function(data) {
      if (data.ready) {
        window.location = data.url;
      } else {
        url = '/service_files/generate_zip/' + sample_id;
        $.get(url, {}, function(data) {
          if (data['generate']) {
            $('#zip-link').html('Generando...');
            zipTimer = setInterval(checkZip, 1000);
          } else {
            alert('Fallo al intentar generar ZIP');
          }
        }, 'json');
      }
    }, 'json');
  });

  function checkZip() {
    sample_id = $("#service_file_sample_id").val();
    url = '/service_files/zip_ready/' + sample_id;
    $.get(url, {}, function(data) {
      if (data.ready) {
        $('#zip-link').html('Descargar ZIP');
        clearInterval(zipTimer);
        window.location = data.url;
      }
    }, 'json');
  }

  $(document).on('change', '#service_file_file', function() {
    $("#item-upload-file-form").submit();
  });
#ui-upload
  #upload-area
    - @service_file = ServiceFile.new
    = form_for(@service_file, :html => {:id => 'item-upload-file-form', :multipart => true}) do |f|
      = f.hidden_field :service_request_id, {:value => @service_request_id }
      = f.hidden_field :sample_id, {:value => @sample_id }
      = f.hidden_field :requested_service_id, {:value => @requested_service_id }
      #upload-box
        = f.file_field :file, {"multiple" => "multiple"}
        .upload Subir archivos
        .upload-msg Puedes seleccionar varios archivos a la vez para subir.
  .clearfix
  #download-zip
    %a#zip-link{"data-sample-id" => @sample_id}= "Descargar ZIP de todos los servicios"
  .clearfix
  - if session[:has_upload]
    :javascript
      url = "/requested_services/#{@requested_service_id}/files_list"; 
      $.get(url, {}, function (html) {
        $('#files-area', parent.document).empty().html(html);
      });
    - session[:has_upload] = false