#header-bar
  %h2= "Reportes"

#reports-workarea
  #reports-panel
    %ul#reports-nav.nav.nav-pills.nav-stacked
      %li{"data-link" => "/laboratories-overview", "class" => "active"}= link_to "Carga de laboratorios", "#"
      %li{"data-link" => "/laboratory-load"}= link_to "Carga por laboratorio", "#"
      %li{"data-link" => "/equipment-summary"}= link_to "Uso de Equipos", "#"
      %li{"data-link" => "/equipment-use"}= link_to "Uso por Equipo", "#"

  #reports-main-panel

:javascript 
  $(function() {
    activeSideNav('#reports-link');
    $('#reports-nav a:first').click()
  })
