!!!
%html
  %head
    %title Servicios de Laboratorio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body
    #container 
      #topbar
        #title Servicios de Laboratorio
      #nav
        .nav-item#nav-my-requests
          .nav-icon= image_tag('/assets/icons/my-requests.png')
          .nav-title= "Mis carpetas"
        - current_user.laboratories.each do |laboratory|
          .nav-item.nav-lab{:id => "nav-laboratory-#{laboratory.id}", :laboratory_id => laboratory.id}
            .nav-icon= image_tag('/assets/icons/lab-folder.png')
            .nav-title= laboratory.name
       
      #workarea
        = yield
        .clearfix
      #flash-notice
