!!!
%html
  %head
    %title Bitácora Electrónica
    = stylesheet_link_tag    'application', :media => 'all'
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag 'application'
    = csrf_meta_tags 
  %body.modal-body
    #sidenav
      #brand
        %img{:src => '/assets/bitacora-logo.svg'}
        .bitacora-logo= "Bitácora Electrónica"
      %ul.nav.nav-pills.nav-stacked
        %li
          %a#folders-link
            %span.glyphicon.glyphicon-folder-open
            .option-name= ' Carpetas' 
        - current_user.laboratories.each do |laboratory|
          %li
            %a{'data-laboratory_id' => laboratory.id, :class=> "lab-link", :id => "lab-#{laboratory.id}-link"}
              %span.glyphicon.glyphicon-th-list
              .option-name= " #{laboratory.name}"
        - if current_user.is_admin? || current_user.is_customer_service?
          %li
            = link_to '/#!/admin', :id => 'admin-link' do
              %span.glyphicon.glyphicon-cog
              .option-name= "Administración"
      #user-area
        = image_tag (current_user.avatar_url), :class => 'img-circle', :title => current_user.full_name
        #user-menu
          %a{:href => '/logout', :class => 'btn'}= 'Salir'
    #workarea
      = yield
      #flash-notice
